.primary-bg{
	background-color: #284872 !important;
}

.text-decoration-none:hover{
  text-decoration: none;
}

.word-break-all{
  word-break: break-all !important;
}

.text-black{
  color: #000 !important;
}

.home-block-01{padding-top:35px;background-image: url(/assets/background-home.jpg);background-size: cover;background-position: top center;background-repeat: no-repeat;}
.form-home-cadastro{background-color:rgba(209, 208, 208, 0.85);;padding:15px !important;border-radius:25px;margin-top:55px;text-align:center;margin-bottom: 99px;}
.form-home-cadastro h1{color:#000;font-size:26px;margin-bottom: 30px;}
.form-home-cadastro input{margin-bottom: 20px;}

.shape-bg{
  background: url(/assets/home/Shape.png);
  background-repeat: no-repeat;
}

.entreprises-section{
	background: #fafafa;
}

.counts-section h2{
	font-size: 40px;
	color: #bebebe;
}

.input-login {
  border: solid 1px #284872;
  border-radius: 15px;
  padding: 5px 20px;
  width: 182px;
}

.secondary-btn,
.primary-btn {
  border: 0;
  border-radius: 15px;
  padding: 5px 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.primary-btn{	
  background-color: #284872;
}

.secondary-btn{
	background-color: #b4d55e; 
}

.banner-section{
	background-image: url(/assets/home/banner.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}

.facebook,.instagram,.linkedin,.youtube{font-size: 25px;}

.facebook {
  color: #4266b2 !important;
  transition: all 265ms ease-in;
}

.instagram {
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkedin {
  color: #1da1f2 !important;
  transition: all 265ms ease-in;
}

.youtube {
  color: #ff0200 !important;
  transition: all 265ms ease-in;
}

.patro .slick-track{
	display: flex;
  align-items: center;
  height: 100%;
}

.slick-list{
	height: 100%;
}

.slick-slide{
	align-self: center;
	height: auto !important;
}

.border-light{
	border-color: #dedede !important;
}

.contact-box{
	background: #fff;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55); 
}

.contact-section{
	background: url(/assets/home/bg-blue.jpg);
	background-position-y: 45px;
	background-size: cover;
	background-repeat: no-repeat;
}

.primary-btn:hover{
	cursor: pointer;
	background: #1a2b52;
	transition: all 0.2s;
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}