-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid.top_artigo
  .container
    .row
      %ul
        -if !@categories.empty?
          -@categories.each do |c|
            %li
              %a{:href => "#{categoria_path(c)}"}=c.name

.container-fluid
  .container
    .row
      .col-md-7
        .dados_perfil_esquerda
          .row
            .blog
              .row
                .col-md-6
                  -if !@destaque.empty?
                    -if @destaque.first.image_article?
                      %a{:href => "#{blog_path(@destaque.first)}"}
                        =image_tag(@destaque.first.image_article.url(), :class => "img-responsive")

                    %a{:href => "#{blog_path(@destaque.first)}"}
                      %h1=@destaque.first.title
                      %h2="por #{@destaque.first.columnist.name} - #{@destaque.first.columnist.created_at.strftime('%d/%m/%Y')}"
                .col-md-6
                  -if !@direita.empty?
                    -@direita.each do |a|
                      .row.mini_blog
                        -if a.image_article.file?
                          .col-md-6
                            %a{:href => "#{blog_path(a)}"}
                              =image_tag(a.image_article.url(), :class => "img-responsive")
                          .col-md-6
                            %a{:href => "#{blog_path(a)}"}
                              %h3=a.title
                        -else
                          .col-md-12
                            %a{:href => "#{blog_path(a)}"}
                              %h3=a.title



          .row.outros_blog
            -if !@outros.empty?
              -@outros.each do |a|
                .col-md-6
                  -if a.image_article?
                    %a{:href => "#{blog_path(a)}"}
                      =image_tag(a.image_article.url(), :class => "img-responsive")
                  %a{:href => "#{blog_path(a)}"}
                    %h1=a.title
                    %p=a.subtitle
      .col-md-4.col-md-offset-1
        =render :partial => "columnists", locals: {columnists: @columnists}
