#notice{color:green}.field_with_errors{padding:2px;background-color:#f2dede;border:none !important}#error_explanation{width:450px;border:2px solid #f2dede;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0}#error_explanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:0px;background-color:#c00;color:#fff}#error_explanation ul li{font-size:12px;list-style:square}
