@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
body{font-family: 'Open Sans', sans-serif;}

.top-bar{background-color:#18242f;min-height:67px;}
.logo{margin-top:10px;}
.input-login{margin-top:20px;height:20px;margin-right:10px;font-size:14px;color:#18242f;border-radius:3px;border:0px solid transparent;}
.btn-login{margin-top:20px;height:20px;background-color:#95c940;color:#fff;border-radius:3px;border:0px solid transparent;margin-bottom:10px;}

.home-block-01{padding-top:35px;background-image: url(/assets/background-home.jpg);background-size: cover;background-position: top center;background-repeat: no-repeat;}
.form-home-busca{background-color:#18242f;padding:15px !important;border-radius:25px;margin-top:85px;text-align:center;}
.form-home-busca h1{color:#fff;font-size:26px;}
.input-cadastro{color:#18242f;font-size:16px;height:38px;border-radius:3px;border:0px solid transparent;margin-top: 10px;margin-bottom: 10px;}
.btn-cadastros{margin-bottom:10px;}

.form-home-cadastro{background-color:rgba(209, 208, 208, 0.85);;padding:15px !important;border-radius:25px;margin-top:55px;text-align:center;margin-bottom: 99px;}
.form-home-cadastro h1{color:#000;font-size:26px;margin-bottom: 30px;}
.form-home-cadastro input{margin-bottom: 20px;}

.home-block-02{background-image:url(/assets/bg-home-block.jpg);background-position:top left;background-repeat:repeat-x;min-height:500px;text-align: center;}
.home-block-02 h1{background-color:#ffffff;color:#18242f;text-transform:uppercase;padding: 10px !important;margin-bottom: 40px;margin-top: 0px;}
.home-block-02 h2{color:#18242f;text-transform:uppercase;}
.home-block-02 img{margin-bottom: 10px;margin-top: 20px;}

.home-block-03{background-image:url(/assets/bg-home-block.jpg);background-position:top left;background-repeat:repeat-x;min-height:600px;text-align: center;}
.home-block-03 h1{background-color:#ffffff;color:#18242f;text-transform:uppercase;padding: 10px !important;margin-bottom: 40px;margin-top: 0px;}

.home-block-04{background-image:url(/assets/bg-home-block-4.jpg);background-position:top center;background-repeat:repeat-x;min-height:1200px;background-size: cover;}
.home-block-04 h1{color:#fff;text-transform:uppercase;text-align:right;font-size:32px;font-weight: 600;padding-top: 20px;}
.home-block-04 h2{color:#95c940;text-transform:uppercase;text-align:right;font-size:26px;}
.home-block-04 p{color:#fff;text-align: right;}
.home-block-04 img{margin-top:20px;}
.oq-vc-encontra img{margin-top:60px;}

.news_perfil{border-radius:10px;border:2px solid #95c940;background-color:#f6f6f7;padding:40px;margin-top:10px;}
.news_perfil h5{font-size:24px;text-transform:uppercase;color:#1a2632;padding:0;margin:0;font-weight:600}
.news_perfil h6{font-size:14px;text-transform:uppercase;color:#95c940;padding:0;margin:0;}

.news_interacao{border-bottom:2px solid #1a2632;padding-bottom:20px;margin-bottom:20px;}
.news_content img{margin-top:10px;margin-bottom:10px;}
.news_content h4{font-size:14px;text-transform:uppercase;color:#1a2632;font-weight:600}
.news_content p{font-size:12px;color:#1a2632;}
.news_content a{float:right;font-size:14px;text-transform:uppercase;color:#95c940;padding-bottom:20px;}
.news_content a:hover{text-decoration:none;color:#1a2632;background-color:transparent !important;}

.news_comentario{border-bottom:2px solid #1a2632;padding-bottom:20px;margin-bottom:20px;}
.news_comentario h2{font-size:16px;text-transform:uppercase;color:#1a2632;font-weight:600;margin:0;}
.news_comentario p{font-size:12px;color:#1a2632;}

.news_campo_comentario textarea{border-radius:10px;border:2px solid #1a2632;width:100%}
.news_campo_comentario a{font-size:14px;text-transform:uppercase;color:#95c940;float:right;margin-top:10px;}
.noticia-home{border-bottom: 2px solid #18242f;}


.home-block-05{min-height:150px;background-color:#18242f;}
.home-block-05 p{color:#fff;font-size:14px;text-transform:uppercase;margin-top:75px;}
.home-block-05 ul{list-style:none !important;margin-top:75px;}
.home-block-05 ul li{float:left;margin-left:5px;}
.home-block-05 ul li a{color:#fff;font-size:14px;text-transform:uppercase;text-decoration:none;}



.field_with_errors{
  border:1px solid red;
}
