<p>Um novo usuário se cadastrou no Training Society!</p>

<p>Nome: <%= @user.name %> <%= @user.last_name%></p>

<p>E-mail: <%= @user.email %></p>

<p>Telefone: <%= @user.phone%></p>

<p>Celular: <%= @user.cellphone%></p>