<p>Uma nova empresa quer se cadastrar no Training Society!</p>

<p>Nome: <%= @message.name %></p>

<p>E-mail: <%= @message.email %></p>

<p>Telefone: <%= @message.phone%></p>

<p>Mensagem:</p>

<p><%= @message.message %></p>