Foi feito um pedido para redefinir sua senha.
Se você não fez esse pedido, simplesmente ignore este e-mail. De outra forma
Apenas clique no link abaixo:<br/>
<a href="trainingsociety.com.br<%= @edit_password_reset_url %>">Resetar Minha Senha</a>
<br/>
Se o link acima não funcionar, copie esse link "trainingsociety.com.br<%= @edit_password_reset_url %>" (Sem as Aspas) e cole em seu navegador.
Se você continuar tendo algum problema, fique à vontade para entrar em contato.