.container-fluid
  .container
    .row
      .col-md-12.eventos
        %div
          %div
            %h1
              Termos de Uso e Política de Privacidade do Training Society
          %div
          %div
            %p
              A finalidade deste é dar ciência dos Termos de Uso e Política de
              Privacidade que norteiam a Plataforma do Trainingsociety.com.br,
              bem como esclarecer desde logo que o cadastro como Usuário da
              Plataforma pressupõe leitura prévia e aceitação dos termos aqui
              especificados, cujo teor consiste em delimitar o objetivo da
              Plataforma e definir de forma clara e transparente a
              responsabilidade das partes.
          %div
            %p
              A Training Society esclarece que ao aceitar os Termos de Uso e se
              cadastrar na Plataforma como Usuário, Expositor ou Patrocinador, os
              interessados, sejam pessoa física ou jurídica, concordam e aceitam
              o compromisso de agir em conformidade com a Lei, amparando-se no
              princípio da boa-fé, respeitando os limites da Ética, da Moral e
              dos Bons Costumes, a fim de garantir a realizabilidade do fim
              social que a Plataforma se propõe.
          %div
            %p
              Trainingsociety.com.br consiste em uma plataforma de busca e
              website de relacionamento profissional voltado a assuntos de
              interesse da área de desenvolvimento humano nas organizações,
              registrado sob domínio da Sociedade de Desenvolvimento Humano
              Treinamento e Psicologia Ltda-ME, com nome fantasia “Training
              Society”; inscrita no CNPJ sob o nº. 25.196.454/0001-00.
          %div
            %p
              Trainingsociety.com.br, através da Plataforma, objetiva promover o
              encontro na web e fora dela, de pessoas físicas e jurídicas com
              interesse comum voltado ao desenvolvimento humano nas organizações,
              disponibilizando para esse fim espaço e estrutura virtual de
              maneira diferenciada para cada tipo de Usuário interessado,
              promover através desta ferramenta a troca de informações e
              experiências, oportunidades de desenvolvimento e negócios entre os
              Usuários cadastrados, encontros profissionais, fóruns, cursos,
              vagas, oferta e procura por serviços relacionados ao objeto da
              Plataforma.
          %div
            %p
              Ao efetuar o cadastro na Plataforma Training Society, o Usuário
              aceita e se submete às condições deste Termo e às Políticas de
              Privacidade a seguir expostas:

          %ol{:start => "1"}
            %li
              %h1
                CONDIÇÕES GERAIS
          %ol{:start => "1"}
            %li
              %p
                A Training Society recebe e armazena os dados na rede de
                contatos na Plataforma de relacionamento aqui tratada, e suas
                atividades se limitam ao que segue:
          %ol{:start => "2"}
            %li
              %p
                Permitir ao usuário cadastrado a utilização da Plataforma
                gratuitamente para buscar e oferecer serviços e oportunidades
                voltadas ao segmento de desenvolvimento humano nas
                organizações.
          %ol{:start => "3"}
            %li
              %p
                Permitir que o Usuário optante pelo modelo de Cadastro
                “Expositor” e/ou “Patrocinador, Fomentador ou Apoiador“ ofereça
                e hospede espaço pré-determinado na Plataforma para que
                Prestadores de Serviço, sob sua responsabilidade, ofereçam-se.
          %ol{:start => "4"}
            %li
              %p
                Permitir que o Usuário na modalidade “Cadastro de Usuários para
                Utilização da Plataforma”, busque empresas prestadoras de
                serviço nas áreas de treinamento e ferramentas para
                desenvolvimento de pessoas nas organizações, tenha acesso aos
                fóruns programados por anunciantes e orientadores, tenha acesso
                aos artigos publicados na Plataforma por Colunistas cadastrados
                ou indicados por orientadores e patrocinadores cadastrados,
                interaja com outros usuários nos eventos on-line e presenciais;
          %ol{:start => "5"}
            %li
              %p
                Viabilizar, por meio do banco de dados alimentado e atualizado
                pelos Usuários o contato direto entre Empresas Expositoras,
                Patrocinadoras e/ou Apoiadoras, Fomentadoras com Usuários
                interessados em adquirir seus Serviços, através do
                compartilhamento das informações de contato entre as partes.
          %ol{:start => "2"}
            %li
              %p
                Trainingsociety.com.br não fornece e não oferece produto ou
                serviço diretamente, apenas disponibiliza espaço para que
                interessados no mesmo segmento contatem-se e negociem entre si
                diretamente.
          %ol{:start => "3"}
            %li
              %p
                Trainingsociety.com.br não interfere no contato entre as partes
                e isenta-se de responsabilidade sobre os assuntos negociados ou
                negócios efetivados.
          %ol{:start => "4"}
            %li
              %p
                Trainingsociety.com.br não se responsabiliza ativa ou
                passivamente pelo resultado do que for tratado entre as partes
                que se utilizam da Plataforma.
          %ol{:start => "5"}
            %li
              %p
                Trainingsociety.com.br neste ato isenta-se de responsabilidade
                por ato de terceiro caracterizado no mau uso da ferramenta,
                cabendo aos Usuários interessados zelar pela lisura, boa-fé e
                fidedignidade das informações inseridas na Plataforma e
                serviços nela oferecidos.
          %ol{:start => "6"}
            %li
              %p
                O Usuário responde diretamente ativa ou passivamente pelo dano
                a que der causa.
          %ol{:start => "7"}
            %li
              %p
                Na qualidade de classificado de serviços,
                Trainingsociety.com.br não impõe, não interfere, nem se
                responsabiliza por negociações entre as partes usuárias
                interessadas.
        %div
          %ol{:start => "8"}
            %li
              %p
                Trainingsociety.com.br não interfere nas negociações:
                negociação sobre condição, valor, qualidade, forma ou prazo na
                contratação entre os Contratantes e Prestadores, e não garante
                a qualidade, ou entrega dos Serviços contratados entre os
                Usuários.
          %ol{:start => "9"}
            %li
              %p
                Ao se cadastrar, o Usuário poderá utilizar todos os serviços
                disponibilizados na Plataforma, declarando, para tanto, ter
                lido, compreendido e aceitado os Termos.
          %ol{:start => "2"}
            %li
              %h1
                CAPACIDADE PARA CADASTRAR-SE:
          %ol{:start => "1"}
            %li
              %p
                A Plataforma da Trainingsociety.com.br está disponível para
                pessoas interessadas no segmento de desenvolvimento humano nas
                organizações, sejam pessoas físicas ou jurídicas, que
                demonstrem e mantenham algum vínculo de interesse com o objeto
                desta Plataforma e tenham capacidade civil para contratar:
                pessoa física maior de idade e devidamente inscrita no RG e
                CPF/MF e pessoa jurídica ativa inscrita no CNPJ.
          %ol{:start => "2"}
            %li
              %p
                Não existe custo para o cadastramento de Usuário, o
                cadastramento é Gratuito. Empresas que se cadastrarem na opção
                “Expositoras” poderão obter um plano de exposição básico sem
                nenhum custo. Empresas que se cadastrarem na opção
                “Patrocinadoras e/ou Apoiadoras, Fomentadoras” poderão aderir
                ao plano previamente negociado de fomento, apoio e/ou
                patrocínio consistente no patrocínio e/ou auxílio financeiro
                dos custos com atualização, vitalização e desenvolvimento da
                Plataforma, em contrapartida terão um modelo de exposição
                dentro da Plataforma de acordo com seu plano e pelo tempo
                determinado no Acordo de Fomento/Patrocínio.
          %ol{:start => "1"}
            %li
              %p
                É vedada a criação de mais de um cadastro por Usuário. Em caso
                de multiplicidade de cadastros elaborados por um só Usuário,
                Trainingsociety.com.br reserva-se o direito de, a seu exclusivo
                critério e sem prévia comunicação ao Usuário que desacatar a
                regra, inabilitar todos os cadastros existentes a este
                vinculado e impedir eventuais cadastros futuros vinculados ao
                mesmo.
          %ol{:start => "2"}
            %li
              %p
                Somente será permitida a vinculação de um cadastro a um nome,
                sobrenome e um e-mail, não podendo haver duplicidade de dados
                em conjunto.
          %ol{:start => "3"}
            %li
              %p
                Trainingsociety.com.br pode unilateralmente e a qualquer tempo
                excluir o cadastro de Usuários.
          %ol{:start => "3"}
            %li
              %h1
                CADASTRO
          %ol{:start => "1"}
            %li
              %p
                É necessário o preenchimento completo de todos os campos
                exigidos na tela de cadastro do Trainingsociety.com.br no
                momento do cadastramento.
          %ol{:start => "2"}
            %li
              %p
                Ao escolher, no formulário de cadastro a opção “Se cadastrar
                por intermédio do Linkedin ou Facebook”, o Usuário importa
                automaticamente suas informações oriundas de seu cadastro no
                Linkedin ou Facebook e se habilita para utilização da
                Plataforma.
          %ol{:start => "3"}
            %li
              %p
                É de exclusiva responsabilidade dos Usuários fornecer,
                atualizar e garantir a veracidade dos dados cadastrais e
                informações de pesquisa de avaliação sobre as Empresas na
                Plataforma, não cabendo ao Trainingsociety.com.br
                responsabilização civil ou criminal resultante de dados
                inverídicos, incorretos, incompletos, inidôneos inseridos pelos
                Usuários.
          %ol{:start => "4"}
            %li
              %p
                O Usuário ao e cadastrar na Plataforma e inserir seus dados e
                demais informações torna-se o único responsável pelas
                informações ali prestadas, respondendo na forma da Lei pelos
                danos e consequências oriundas de suas ações.
          %ol{:start => "5"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de utilizar os
                meios válidos disponíveis para identificar os Usuários que
                utilizam a ferramenta de avaliação de Empresas.
          %ol{:start => "6"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de solicitar dados
                adicionais que complementem o cadastro básico necessário, sendo
                de inteira responsabilidade de quem os fornece a fidedignidade
                das informações.
          %ol{:start => "7"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de excluir o
                cadastro ou as informações nele contidas, caso haja manifesta
                suspeita de má-fé, conteúdo inidôneo e/ou dados errôneos ou
                inverídicos.
          %ol{:start => "8"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de suspender o
                acesso à Plataforma do Usuário que infringir os Termos aqui
                pactuados, temporária ou definitivamente, impedir, bloquear
                e/ou excluir publicidade e cadastro de Serviços publicados por
                este, sem prejuízo do uso das medidas previstas em Lei com
                vista à responsabilização civil e ou criminal por danos
                causados por este a terceiros.
          %ol{:start => "9"}
            %li
              %p
                O Usuário que descumprir os termos de privacidade e utilização
                da Plataforma, concorda neste ato que não lhe assiste qualquer
                direito de requerer indenização de nenhuma natureza em face do
                descumprimento do aqui pactuado. No caso de aplicação de
                quaisquer destas sanções, não assistirá ao Usuário infrator
                direito a qualquer tipo de indenização ou ressarcimento por
                perdas e danos, lucros cessantes ou danos morais.
          %ol{:start => "10"}
            %li
              %p
                O Usuário acessará sua conta por meio de e-mail e senha, ou
                diretamente pelo Facebook ou Linkedin, comprometendo-se a não
                informar a terceiros esses dados, responsabilizando-se
                integralmente pelo uso que deles seja feito.
          %ol{:start => "11"}
            %li
              %p
                O Usuário compromete-se a
                notificar Trainingsociety.com.br imediatamente, por meio dos
                canais de contato mantidos por Trainingsociety.com.br na
                Plataforma, a respeito de qualquer uso não autorizado de sua
                conta. O Usuário será o único responsável pelas operações
                efetuadas em sua conta, uma vez que o acesso só será possível
                mediante a utilização de senha pessoal de seu exclusivo
                conhecimento.
        %div
          %ol{:start => "12"}
            %li
              %p
                Trainingsociety.com.br não armazena senha em hipótese alguma,
                as mesmas são de inteira responsabilidade do Usuário.
          %ol{:start => "13"}
            %li
              %p
                É vedada, sob todas as hipóteses, a cessão, a venda, o aluguel
                ou outra forma de transferência da conta do Usuário na
                Plataforma. É vedada também , a criação de novos cadastros por
                pessoas cujos cadastros originais tenham sido cancelados por
                infrações às políticas do Trainingsociety.com.br.
          %ol{:start => "14"}
            %li
              %p
                O e-mail que o Usuário utiliza em Trainingsociety.com.br não
                poderá guardar semelhança com o nome Trainingsociety.com.br,
                tampouco poderá ser utilizado qualquer nome que insinue ou
                sugira que os Serviços serão prestados por
                Trainingsociety.com.br ou que fazem parte de suas promoções.
          %ol{:start => "15"}
            %li
              %p
                A responsabilidade pelas consequências contra terceiros da
                inobservância da cláusula anterior será exigida nos termos da
                Lei exclusivamente do Usuário que não a observar.
          %ol{:start => "16"}
            %li
              %p
                Serão eliminados de pronto e sem consulta prévia nomes, e-mails
                e cadastros considerados ofensivos ou que infrinjam a
                legislação em vigor.
          %ol{:start => "17"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de, unilateralmente
                e sem prévio aviso, recusar qualquer solicitação de cadastro e
                de cancelar um cadastro previamente aceito.
          %ol{:start => "4"}
            %li
              %h1
                MODIFICAÇÕES DOS TERMOS E CONDIÇÕES GERAIS
          %ol{:start => "1"}
            %li
              %p
                Trainingsociety.com.br poderá alterar, a qualquer tempo e a seu
                critério, as cláusulas do presente Termo. Os novos Termos
                entrarão em vigor 10 (dez) dias após a publicação na
                Plataforma. No prazo de 5 (cinco) dias contados a partir da
                publicação das modificações, o Usuário ou Empresa Expositora
                deverá informar, por e-mail, caso não concorde com os termos
                alterados. Nesse caso, o vínculo de Usuário ou de Empresa
                Expositora deixará de existir. Não havendo manifestação no
                prazo estabelecido, o silêncio da parte caracterizará aceite
                tácito e este restará configurado.
          %ol{:start => "2"}
            %li
              %p
                As alterações nos termos de utilização da Plataforma não
                vigorarão em relação a negociações e anúncios com Empresas
                Patrocinadoras e/ou Apoiadoras, Fomentadoras, para estas
                vigorará o contrato anteriormente negociado e firmado pelas
                partes até o prazo a termo.
          %ol{:start => "3"}
            %li
              %p
                Os serviços disponibilizados por Trainingsociety.com.br poderão
                ser diferentes para cada Empresa Patrocinadora e/ou Apoiadora,
                Fomentadora, de acordo com a necessidade, adequação e
                oportunidade melhor entabulada pelas partes.
          %ol{:start => "5"}
            %li
              %h1
                MODELO DE EMPRESA EXPOSITORA E PATROCINADORA - INCLUSÃO DE
                IMAGENS E FOTOGRAFIAS
          %ol{:start => "1"}
            %li
              %p
                As Empresas Expositoras, Patrocinadoras e/ou Fomentadoras
                poderão incluir imagens ou fotografia real sua ou do Serviço. É
                proibida a utilização de imagens genéricas que possam
                confundir, enganar ou induzir a erro os Usuários, assim como de
                imagens ofensivas ou que violam leis em vigor.
          %ol{:start => "2"}
            %li
              %p
                A Empresa Expositora/Patrocinadora responde exclusivamente
                pelos dados e informações que inserir e divulgar na plataforma,
                bem como pelas consequências desse ato.
          %ol{:start => "3"}
            %li
              %p
                Ao incluir imagens ou fotografias na Plataforma, as Empresas
                Expositoras, Patrocinadoras e/ou Fomentadoras, autorizam
                Trainingsociety.com.br a utilizar tais imagens ou fotografias
                em peças publicitárias, cedendo o seu uso de forma irrestrita,
                não onerosa e por prazo indeterminado. As Empresas Expositoras,
                Patrocinadoras e/ou Fomentadoras, também autorizam a
                Trainingsociety.com.br a alterar as imagens ou fotografias,
                inclusive, mas não se limitando a, a cor, a resolução, a
                composição e o tamanho de tais imagens ou fotografias, com o
                fim de melhor adequá-las à estrutura visual da Plataforma.
          %ol{:start => "4"}
            %li
              %p
                Trainingsociety.com.br poderá retirar da Plataforma publicações
                que contenham imagens que não estejam de acordo com os Termos e
                as demais políticas de utilização da Plataforma.
          %ol{:start => "6"}
            %li
              %h1
                MODELO DE UTILIZAÇÃO DA AVALIAÇÃO DE EMPRESAS –
                RESPONSABILIDADE PELA VERACIDADE DAS INFORMAÇÕES
          %ol{:start => "1"}
            %li
              %p
                No Modelo de Utilização da Avaliação de Empresas, os Usuários
                poderão manifestar sua opinião sobre a qualidade dos serviços
                prestados pelas Empresas Expositoras e Patrocinadoras presentes
                na Plataforma.
          %ol{:start => "2"}
            %li
              %p
                O Usuário poderá manifestar sua opinião de livre espontânea
                vontade não sofrendo nenhuma influência sobre o conteúdo de
                suas informações quer seja por parte do Trainingsociety.com.br
                ou das Empresas Expositoras ou Patrocinadoras.
          %ol{:start => "3"}
            %li
              %p
                Para que o Usuário tenha acesso ao questionário de avaliação e
                para que sua avaliação seja publicada, é necessário que seja
                respondido um questionário que certifique que o Usuário foi um
                tomador ou cliente do serviço da Empresa Patrocinadora ou
                Expositora, após responder o Termo de Responsabilidade sobre a
                Veracidade das Informações, o Usuário estará apto a responder
                às questões de avaliação.
          %ol{:start => "4"}
            %li
              %p
                A avaliação de Usuários tomadores de serviços somente serão
                aceitas mediante o preenchimento completo e aceite dos termos
                de responsabilidade do avaliador.
        %div
          %ol{:start => "5"}
            %li
              %p
                A Trainingsociety.com.br se reserva o direito de não publicar
                pesquisas que contenham informações ofensivas ou que julgue
                estar em desconformidade com o Termo de Responsabilidade sobre
                a Veracidade das Informações.
          %ol{:start => "7"}
            %li
              %h1
                PRIVACIDADE DA INFORMAÇÃO
          %ol{:start => "1"}
            %li
              %p
                Todas as informações ou os dados pessoais inseridos na
                Plataforma pelo Usuário de Trainingsociety.com.br são
                armazenados em servidores ou meios magnéticos de alta
                segurança.
          %ol{:start => "2"}
            %li
              %p
                Trainingsociety.com.br se utiliza de meios e ferramentas
                confiáveis escolhidas por especialistas na área, para manter a
                confidencialidade e a segurança descritas nesta cláusula, mas
                não será em hipótese alguma responsável por prejuízos e
                imprevistos derivados da violação dessas medidas por parte de
                terceiros de má-fé, que utilizem de meios escusos, fraudulentos
                e ilegais para acessar com intuito doloso as informações
                armazenadas nos servidores ou nos bancos de dados utilizados
                por Trainingsociety.com.br .
          %ol{:start => "3"}
            %li
              %p
                Trainingsociety.com.br não compartilhará as informações
                inseridas por seus Usuários para terceiros, salvo para as
                Empresas Patrocinadoras da Plataforma desde que com a devida
                anuência do Usuário, que desde já fica concedida uma vez
                identificada identidade de interesse entre o que é oferecido e
                o que se busca na Plataforma.
          %ol{:start => "1"}
            %li
              %p
                Os Usuários concordam que as informações inseridas no cadastro
                tais como nome, sobrenome, e-mail, serão enviadas para Empresas
                Patrocinadoras, para que seja possível a comunicação entre as
                partes em caso de interesse e tentativa de contratação do
                serviço.
          %ol{:start => "4"}
            %li
              %p
                Trainingsociety.com.br coleta e armazena as informações
                prestadas por seus Usuários, tais como, mas não se limitando a,
                nome, sobrenome, e-mail. Estes elementos somente serão
                utilizados por Trainingsociety.com.br para melhorar seus
                processos de identificação, apresentação de Serviços, contato
                com os Usuários. Trainingsociety.com.br não tem acesso ao
                conteúdo das ligações ou comunicações entre Usuários e
                Empresas, não acessa conteúdo trocado entre as partes
                contratantes, ainda que em ambiente da Plataforma e jamais
                armazena senha de usuário.
          %ol{:start => "5"}
            %li
              %p
                Trainingsociety.com.br, por razões legais, manterá em seu banco
                de dados as informações coletadas e inseridas pelos Usuários
                que excluírem seus cadastros.
          %ol{:start => "6"}
            %li
              %p
                O e-mail e a senha de cada Usuário servem para garantir a
                privacidade e a sua segurança. Trainingsociety.com.br recomenda
                a seus Usuários que não compartilhem essas informações com
                ninguém.
          %ol{:start => "7"}
            %li
              %p
                Trainingsociety.com.br não se responsabiliza por danos ou
                prejuízos causados ao Usuário pelo compartilhamento de suas
                informações.
          %ol{:start => "8"}
            %li
              %p
                Toda informação prestada pelos Usuários ao
                Trainingsociety.com.br é protegida por empresas especializadas.
          %ol{:start => "9"}
            %li
              %p
                Trainingsociety.com.br segue os padrões de segurança comumente
                utilizados pelas empresas que trabalham com transmissão e
                retenção de dados para garantir a segurança de seus Usuários.
                No entanto, nenhum método de transmissão ou retenção de dados
                eletrônicos é plenamente seguro e pode estar sujeito a ataques
                externos. Assim, apesar de utilizar todos os meios possíveis e
                adequados, Trainingsociety.com.br não pode garantir a absoluta
                segurança das informações prestadas.
          %ol{:start => "10"}
            %li
              %p
                Trainingsociety.com.br coleta e guarda todas as informações
                prestadas por seus usuários durante a utilização de sua
                plataforma, inseridas no momento do cadastramento, para uso
                próprio.
          %ol{:start => "11"}
            %li
              %p
                O nome, e-mail e outros dados dos Usuários poderão ser
                utilizados para o envio de notificações, informações sobre a
                conta ou Serviços prestados, avisos sobre violações ao Termo e
                outras comunicações que Trainingsociety.com.br considerar
                necessárias. Os Usuários poderão requisitar a
                Trainingsociety.com.br a sua exclusão de sua lista de envio de
                mensagens (mailing).
          %ol{:start => "12"}
            %li
              %p
                Trainingsociety.com.br prestará todas as informações
                requisitadas por órgãos públicos, desde que devidamente
                notificada na forma da Lei.
          %ol{:start => "13"}
            %li
              %p
                Trainingsociety.com.br utiliza cookies e softwares de
                monitoramento de seus Usuários para prover a seus Usuários a
                melhor navegação possível, baseado em suas necessidades, e para
                pesquisas internas. Esses cookies não coletam informações
                pessoais, apenas informam preferências de uso e de navegação de
                cada Usuário, além de prover a Trainingsociety.com.br
                estatísticas e dados para aprimorar seus serviços, ao aceitar
                os termos de utilização da Plataforma, o Usuário concorda e
                aceita essa condição, essencial ao bom funcionamento dos
                recursos disponibilizados na plataforma.
          %ol{:start => "8"}
            %li
              %h1
                MODELO DE CADASTRAMENTO DE USUÁRIO E EMPRESA EXPOSITORA E
                PATROCINADORA
          %ol{:start => "1"}
            %li
              %p
                O cadastramento dos Usuários no Trainingsociety.com.br é
                gratuito.
          %ol{:start => "2"}
            %li
              %p
                No Modelo para Cadastramento de Empresa Expositora,
                Trainingsociety.com.br disponibilizará às empresas nesta
                categoria um modelo básico de exposição, que compreende:
                informações sobre a empresa e seus produtos na ferramenta de
                busca, avaliação dos usuários, foto e logo da empresa, lista de
                cinco produtos ou serviços.
          %ol{:start => "3"}
            %li
              %p
                O Trainingsociety.com.br disponibilizará os recursos acima
                mencionados para a categoria de Empresa Expositora sem nenhum
                custo.
        %div
          %ol{:start => "4"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de modificar,
                eliminar a clausula anterior e aplicar tarifas para o Modelo de
                Empresa Expositora. Caso ocorram, tais alterações ou
                modificações somente vigorarão para as Empresas que aceitarem
                os novos termos dispostos em contrato firmado entre as Partes.
          %ol{:start => "5"}
            %li
              %p
                No Modelo de Empresa Patrocinadora, o prestador de serviço
                concorda em pagar a Trainingsociety.com.br os valores
                correspondentes às tarifas de anúncio, dispostas em contrato
                apartado previamente firmado entre as partes bem como
                remunerações a quaisquer outros serviços prestados por
                Trainingsociety.com.br, para os quais tenha sido estabelecidas
                tarifas em contrato.
          %ol{:start => "9"}
            %li
              %h1
                MIGRAÇÃO DO MODELO DE EMPRESA EXPOSITORA PARA O MODELO DE
                EMPRESA PATROCINADORA
          %ol{:start => "1"}
            %li
              %p
                O Trainingsociety.com.br permite realizar a mudança do Modelo
                de Empresa Expositora para o Modelo de Empresa Patrocinadora
                desde de que solicitado pelo representante legal da Empresa
                interessada, a solicitação deverá ser protocolada nos canais de
                comunicação com a Trainingsociety.com.br, e-mail ou telefone, e
                gerará um contrato com cláusulas específicas para o caso
                concreto.
          %ol{:start => "2"}
            %li
              %p
                O tempo de contratação dos serviços no Modelo de Empresa
                Expositora será de no mínimo 12 meses e as cláusulas
                condicionais serão previstas em contrato apartado
                individualizado.
          %ol{:start => "10"}
            %li
              %h1
                SERVIÇOS, ANÚNCIOS E POSTAGENS DE ARTIGOS PROIBIDOS
          %ol{:start => "1"}
            %li
              %p
                Trainigsociety.com.br é um site de relacionamento de
                profissionais de área de desenvolvimento humano nas
                organizações e uma plataforma de busca de empresas provedoras
                de serviços para treinamento e desenvolvimento organizacional,
                é terminantemente proibida a veiculação de qualquer anúncio de
                venda, aluguel, troca ou qualquer forma de transferência de
                posse ou propriedade de qualquer bem móvel ou imóvel.
          %ol{:start => "2"}
            %li
              %p
                Estão proibidas também a veiculação de conteúdo ou imagens
                consideradas obscenas, bem como anúncios de serviços ilegais,
                venda de drogas, armas de fogo, serviços sexuais, e outros
                dessa natureza cujo teor distorce o objetivo desta Plataforma
                ou que possam ser considerados ofensivos e lesivos a terceiros.
          %ol{:start => "3"}
            %li
              %p
                Trainingsociety.com.br excluirá, unilateralmente e sem qualquer
                comunicação prévia, o Usuário ou Empresa que desrespeitar as
                regras contidas nesta Cláusula 11, e nas demais do presente
                Termo.
          %ol{:start => "1"}
            %li
              %p
                Com o fim de resguardar a integridade das informações,
                Trainingsociety.com.br se reserva o direito de realizar
                curadoria prévia dos anúncios veiculados na Plataforma.
          %ol{:start => "4"}
            %li
              %p
                Qualquer Usuário ou Empresa Patrocinadora ou Expositora que se
                sentir ofendido por qualquer anúncio veiculado na Plataforma
                poderá requisitar a Trainingsociety.com.br que exclua aquele
                anúncio de sua Área, pelos seus canais de atendimento.
          %ol{:start => "11"}
            %li
              %h1
                SISTEMA DE QUALIFICAÇÃO DAS EMPRESAS PATROCINADORAS
          %ol{:start => "1"}
            %li
              %p
                O Trainingsociety.com.br disponibiliza aos Usuários da
                Plataforma a oportunidade de avaliar as Empresas Patrocinadoras
                e Expositoras, ao aceitar ser uma Empresa Expositora ou
                contratar os serviços do Trainingsociety.com.br como Empresa
                Patrocinadora, as empresas automaticamente aceitam expor o
                resultado de suas avaliações na Plataforma.
          %ol{:start => "2"}
            %li
              %p
                Ao utilizar a ferramenta de busca na plataforma do
                Trainingsociety.com.br, os Usuários inserem o nome do serviço
                que estão buscando, Trainingsociety.com.br disponibilizará uma
                lista na seguinte ordem: 1º) Empresas Patrocinadoras em ordem
                de melhor para pior avaliada, 2º) Empresas Expositoras em ordem
                da melhor para a pior avaliada.
          %ol{:start => "3"}
            %li
              %p
                Trainingsociety.com.br não se responsabilizará por qualquer
                tipo de indenização ou ressarcimento por perdas e danos, lucros
                cessantes e danos morais, em razão da qualificação dos Usuários
                inserida na ferramenta de avaliação atribuída aos serviços
                anunciados pelas Empresas.
          %ol{:start => "4"}
            %li
              %p
                Tendo em vista que os comentários postados na ferramenta de
                avaliação são opiniões pessoais dos Usuários, estes serão
                responsáveis pelas opiniões publicadas na Plataforma, seja
                perante Trainingsociety.com.br, perante as Empresas, terceiros,
                órgãos governamentais ou demais Usuários do site, isentando
                Trainingsociety.com.br de qualquer responsabilidade relativa à
                veiculação dos comentários.
          %ol{:start => "1"}
            %li
              %p
                Desde que o Usuário preencha a pesquisa prévia na área de
                avaliação das Empresas e o termo de responsabilidade,
                Trainingsociety.com.br não excluirá comentários ou
                qualificações sobre as Empresas. Somente o Usuário responsável
                pelo comentário ou qualificação poderá remover ou alterar os
                comentários ou qualificações.
          %ol{:start => "5"}
            %li
              %p
                Trainingsociety.com.br se reserva o direito de excluir
                unilateralmente e a seu exclusivo critério, comentários que
                contenham:
          %ol{:start => "1"}
            %li
              %p
                Ofensa à honra, imagem, reputação e dignidade de terceiros;
          %ol{:start => "2"}
            %li
              %p
                Pornografia, pedofilia, e outras modalidades de satisfação
                sexual;
        %div
          %ol{:start => "3"}
            %li
              %p
                Racismo ou discriminação de qualquer natureza;
          %ol{:start => "4"}
            %li
              %p
                Bullying, Stalking ou qualquer outra espécie de constrangimento
                ilegal ou assédio;
          %ol{:start => "5"}
            %li
              %p
                Manifesta violação a direito autoral ou direito de imagem;
          %ol{:start => "6"}
            %li
              %p
                Utilização de marcas, símbolos, logotipos ou emblemas de
                terceiros;
          %ol{:start => "7"}
            %li
              %p
                Instigação ou apologia à prática de crimes, como tráfico ou uso
                de entorpecentes, estupro, homicídio, estelionato, terrorismo,
                entre outros;
          %ol{:start => "8"}
            %li
              %p
                Erros ou suspeita de equívocos.
          %ol{:start => "9"}
            %li
              %p
                Os Usuários pessoa física e jurídica desta Plataforma se
                comprometem a colaborar na fiscalização de ocorrências
                indesejadas, informando via canal de atendimento da
                Trainingsociety.com.br tão logo identifiquem expressões e
                comportamentos na Plataforma que se encaixem no exposto nos
                itens 1 a 8 desta cláusula.
          %ol{:start => "12"}
            %li
              %h1
                OBRIGAÇÕES DAS EMPRESAS EXPOSITORAS E PATROCINADORAS
          %ol{:start => "1"}
            %li
              %p
                As Empresas Expositoras e Patrocinadoras devem ter capacidade
                legal para prestar os Serviços anunciados e são únicas
                responsáveis por isso.
          %ol{:start => "2"}
            %li
              %p
                Em virtude do Trainingsociety.com.br não figurar como parte nas
                transações de contratação dos Serviços que se realizam entre os
                Usuários e as Empresas, a responsabilidade por todas as
                obrigações delas decorrentes, sejam fiscais, trabalhistas,
                consumeristas ou de qualquer outra natureza, será
                exclusivamente do Usuário, da Empresa ou de ambos, conforme o
                caso.
          %ol{:start => "3"}
            %li
              %p
                A Trainingsociety.com.br não responde solidariamente nem
                subsidiariamente pelo descumprimento de obrigações de
                responsabilidade dos contratantes e contratados, entre si e
                contra terceiros.
          %ol{:start => "13"}
            %li
              %h1
                VIOLAÇÃO NO SISTEMA OU DA BASE DE DADOS
          %ol{:start => "1"}
            %li
              %p
                É vedada a utilização de dispositivo, software ou outro recurso
                que possa interferir nas atividades e nas operações
                da Plataforma do Trainingsociety.com.br, bem como nos anúncios,
                nas descrições, nas contas ou em seus bancos de dados. Qualquer
                intromissão, tentativa de, ou atividade que viole ou contrarie
                as leis de direito de propriedade intelectual e as proibições
                estipuladas nestes Termos tornará o responsável passível de
                sofrer os efeitos das ações legais pertinentes, bem como das
                sanções aqui previstas, sendo ainda responsável por indenizar o
                Trainingsociety.com.br ou seus Usuários, Empresas Expositoras e
                Patrocinadoras por eventuais danos causados.
          %ol{:start => "14"}
            %li
              %h1
                RESPONSABILIDADES
          %ol{:start => "1"}
            %li
              %p
                Trainingsociety.com.br não se responsabiliza por vícios ou
                defeitos técnicos e/ou operacionais oriundos do sistema do
                Usuário ou das Empresas Patrocinadoras ou Expositoras.
          %ol{:start => "2"}
            %li
              %p
                Trainingsociety.com.br não é responsável pela entrega dos
                Serviços anunciados pelas Empresas Patrocinadoras e Expositoras
                na Plataforma.
          %ol{:start => "15"}
            %li
              %h1
                ALCANCE DOS SERVIÇOS
          %ol{:start => "1"}
            %li
              %p
                Estes Termos não geram nenhum contrato de sociedade, de
                mandato, de franquia ou relação de trabalho
                entre Trainingsociety.com.br e o Usuário ou Empresas
                Patrocinadoras ou Expositoras. O Usuário concorda e está ciente
                de que Trainingsociety.com.br não é parte em nenhuma transação
                realizada entre Usuários e Empresas Patrocinadoras e
                Expositoras, não possui controle algum sobre a qualidade, a
                segurança ou a legalidade dos Serviços anunciados e prestados
                pelas Empresas Usuárias da Plataforma, não possui controle ou
                responsabilidade de nenhuma natureza sobre a veracidade ou a
                exatidão dos anúncios elaborados pelas Empresas, e sobre a
                capacidade das Empresas para a entrega dos serviços.
          %ol{:start => "16"}
            %li
              %h1
                PROBLEMAS DECORRENTES DO USO DO SISTEMA
          %ol{:start => "1"}
            %li
              %p
                Trainingsociety.com.br também não será responsável por qualquer
                vírus, trojan, malware, spyware ou qualquer software que possa
                danificar, alterar as configurações ou infiltrar o equipamento
                do Usuário em decorrência do acesso, da utilização ou da
                navegação na internet, ou como consequência da transferência de
                dados, informações, arquivos, imagens, textos ou áudio.
        %div
          %ol{:start => "17"}
            %li
              %h1
                PROPRIEDADE INTELECTUAL E LINKS
          %ol{:start => "1"}
            %li
              %p
                O uso comercial da expressão "Training Society” como marca,
                nome empresarial ou nome de domínio, bem como os logos, marcas,
                insígnias, conteúdo das telas relativas aos serviços da
                Plataforma e o conjunto de programas, bancos de dados, redes e
                arquivos que permitem que o Usuário acesse e use sua conta, são
                propriedade de Trainingsociety.com.br e estão protegidos pelas
                leis e pelos tratados internacionais de direito autoral, de
                marcas, de patentes, de modelos e de desenhos industriais. O
                uso indevido e a reprodução total ou parcial dos referidos
                conteúdos são proibidos, salvo com autorização expressa
                de Trainingsociety.com.br.
          %ol{:start => "18"}
            %li
              %h1
                INDENIZAÇÃO
          %ol{:start => "1"}
            %li
              %p
                O Usuário fica obrigado a indenizar a Trainingsociety.com.br,
                suas filiais, empresas controladas, controladores diretos ou
                indiretos, diretores, administradores, colaboradores,
                representantes e empregados pelos danos a que der causa, em
                decorrência do descumprimento de qualquer das cláusulas do
                presente Termo, inclusive quanto a honorários advocatícios, se
                por conta de suas ações houver demanda promovida por outros
                Usuários ou terceiros contra a Trainingsociety.com.br ou,
                ainda, pela violação, por parte do Usuário, de lei ou de
                direitos de terceiros, e por dano à imagem e reputação da
                Trainingsociety.com.br junto aos demais Usuários.
          %ol{:start => "19"}
            %li
              %p
                LEGISLAÇÃO APLICÁVEL E FORO DE ELEIÇÃO
          %ol{:start => "1"}
            %li
              %p
                Todos os itens destes Termos são regidos pelas leis vigentes na
                República Federativa do Brasil. Para todos os assuntos
                referentes à interpretação, ao cumprimento ou a qualquer outro
                questionamento relacionado a estes Termos, as partes concordam
                em se submeter ao Foro da Comarca de São Paulo.
          %ol{:start => "2"}
            %li
              %p
                As partes estabelecem que os conflitos oriundos de
                interpretação das cláusulas, cumprimento ou qualquer outro
                questionamento relacionado a estes Termos, serão submetidos à
                tentativa de mediação e conciliação prévia, elegendo para tanto
                o Foro da Comarca de São Paulo.
