<div class="container">
  <div class="row">
    <div class="news_perfil">
      <%= form_for @user, :url => password_reset_path, :method => :put do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => "input-login form-control" %><br />
        <br/>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "input-login form-control" %><br />
        <br/>
        <%= f.submit "Salvar e logar", :class => "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>