<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-danger alert-dismissible show" role="alert">
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">x
        </span>
      </button>
      <%= value %>
    </div>
  <% end %>
  <div class="row">
    <div class="news_perfil">
      Preencha o formulário abaixo e as instruções para redefinir sua senha serão enviadas por e-mail para você: <br/>
      <br>

      <%= form_tag password_reset_index_path do %>
          <label><%= t('general.label.email')%>:</label><br/>
          <%= text_field_tag "email", "", :class => "input-login form-control" %><br />
          <br/>
          <%= submit_tag "Resetar minha senha", :class => "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>