-content_for :head do
  = stylesheet_link_tag "perfil.css"

-style =""
/ -if current_user.cover.file?
/   -style = "background-image:url('#{current_user.cover.url()}'); background-repeat:repeat;"
.container-fluid.top_perfil
  .container
    .row
      .col-md-12.perfil{:style => "#{style}"}
        .col-md-3.avatar-perfil
          -if current_user.picture.file?
            %a{:href => "#"}
              =image_tag(current_user.picture.url(:medium))
          -else
            =image_tag("user_missing_medium.png")

        .col-md-9
          .row
            %h2="#{current_user.name} #{current_user.last_name}"
            - if current_user.services_performed.present?
              %p="#{current_user.services_performed}"

.container-fluid.dados_perfil
  .container
    .row
      .col-md-6
        -if flash[:notice_user]
          .row
            .alert.alert-success
              =flash[:notice_user]

        = form_for [@user], role: "form" do |f|
          .dados_perfil_esquerda
            .row
              %h1 Conte-nos mais sobre você
              .perfil_bloco_um.cadastro_perfil
                .row
                  .col-md-5
                    %label Nome:
                    %br/
                    =f.text_field :name
                  .col-md-7
                    %label Sobrenome:
                    %br/
                    =f.text_field :last_name
                .row
                  .col-md-5
                    %label E-mail:
                    %br/
                    =f.text_field :email
                  .col-md-7
                    %label Data de Nascimento:
                    %br/
                    =f.text_field :birthdate
                .row
                  .col-md-5
                    %label Telefone:
                    %br/
                    =f.text_field :phone
                  .col-md-7
                    %label Celular:
                    %br/
                    =f.text_field :cellphone
                .row
                  .col-md-5
                    %label Senha
                    = f.password_field :password, :class => "form-control", :placeholder => "Digite sua nova senha"

                  .col-md-7
                    %label Confirme sua senha
                    = f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirme sua nova senha"
                .row
                  .col-md-5
                    %label Empresa:
                    %br/
                    =f.text_field :company
                  .col-md-7
                    %label Cargo:
                    %br/
                    =f.text_field :services_performed

                .row
                  .col-md-12
                    %label Sua foto:
                    %br/
                    .seleciona-foto
                      #upload-file
                      -content_for :footer do
                        :javascript
                          var $uploadFileCrop;
                          $uploadFileCrop = $('#upload-file').croppie({
                            viewport: {
                              width: 200,
                              height: 200
                            },
                            boundary: {
                              width: 250,
                              height: 250
                            }
                          });
                          $uploadFileCrop.croppie('bind', {
                            url: "#{current_user.picture.url}"
                          }).then(function() {
                            $uploadFileCrop.croppie('setZoom', '0.1');
                          });
                      .button-file
                        = f.text_field :picture
                        = f.file_field :file_cropped, label: 'Escolha arquivo', as: :file, onchange: "readFile(this, $uploadFileCrop);"
                      .btn-file.text-center
                        %a.escolhe-btn.btn-login.p-3.btn Escolha imagem

                / .row
                /   .col-md-12
                /     %label Foto de capa:
                /     %br/
                /     =f.file_field :cover
          .dados_perfil_esquerda
            .row
              %h1 Onde você mora?
              %form
                .perfil_bloco_um.cadastro_perfil
                  .row
                    .col-md-5
                      %label CEP:
                      %br/
                      =f.text_field :cep
                    .col-md-7
                      %label Endereço:
                      %br/
                      =f.text_field :street
                  .row
                    .col-md-5
                      %label Número:
                      %br/
                      =f.text_field :number
                    .col-md-7
                      %label Bairro:
                      %br/
                      =f.text_field :neighborhood
                  .row
                    .col-md-5
                      %label Cidade:
                      %br/
                      =f.text_field :city
                    .col-md-7
                      %label Estado:
                      %br/
                      =f.text_field :state

                  .row
                    .col-sm-12
                      .pull-right
                        %a#submit-user-form.btn-login.p-3.btn Salvar
                        %input#submit{:style => "display: none;", :type => "submit", :value => ""}/
          /.dados_perfil_esquerda
          /  .row
          /    %h1 Tenho interesse em treinamentos de:
          /    %form
          /      .perfil_bloco_um
          /        .row
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /        .row
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /        .row
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /        .row
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE
          /          .col-md-4
          /            %input{:name => "vehicle", :type => "checkbox", :value => "Bike"}/
          /            ESPECIALIDADE

      .col-md-5.col-md-offset-1
        .dados_perfil_direita

          =render file: "layouts/widgets/_perfil_bar.html.haml"
          =render file: "layouts/widgets/_empresas.html.haml"
          =render file: "layouts/widgets/_ajude_nos.html.haml"
          =render file: "layouts/widgets/_mais_lidos.html.haml"
          =render file: "layouts/widgets/_wiki.html.haml"

-content_for :footer do
  :javascript

    /* Executa a requisição quando o campo CEP perder o foco */
    $('#user_cep').blur(function(){
      /* Configura a requisição AJAX */
      $.ajax({
        url : '/users/search_cep', /* URL que será chamada */
        type : 'POST', /* Tipo da requisição */
        data: 'cep=' + $('#user_cep').val(), /* dado que será enviado via POST */
        dataType: 'json', /* Tipo de transmissão */
        success: function(data){
          if(data.resultado == 2){
            $('#user_city').val(data.cidade);
            $('#user_state').val(data.uf);
            $('#user_street').val('');
            $('#user_neighborhood').val('');
            $('#user_number').val('');
            $('#user_street').removeAttr('readonly');
            $('#user_number').removeAttr('readonly');
            $('#user_neighborhood').removeAttr('readonly');
            $('#user_street').focus();
          }
          if(data.resultado == 1){
            $('#user_city').val(data.cidade);
            $('#user_state').val(data.uf);
            $('#user_street').val('');
            $('#user_neighborhood').val('');
            $('#user_number').val('');
            $('#user_street').val(data.logradouro);
            $('#user_neighborhood').val(data.bairro);
            $('#user_number').removeAttr('readonly');
            $('#user_number').val('');
            $('#user_number').focus();
          }
          if(data.resultado == 0){
            swal("CEP informado é inválido! Tente novamente.)");
          }

        }
      });
      return false;
    })

    function readFile(input, uploadCrop) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          uploadCrop.croppie('bind', {
            url: e.target.result
          });
         $('.upload-file').addClass('ready');
        };
        reader.readAsDataURL(input.files[0]);
      }
      else {
        console.log("Sorry - you're browser doesn't support the FileReader API");
      }
    }

    $('.escolhe-btn').click( function(){
      $('#user_file_cropped').click();
    });

    $("#submit-user-form").click(function(ev){
      try {
        $uploadFileCrop.croppie('result', {
          type: 'canvas',
          size: 'original'
        }).then(function (resp) {
          if (resp){
            $('#user_picture').val(resp);
            $( "#submit").click();
          }
        });
      }
      finally {
        $( "#submit").click();
      }
    });