%section.content-header
  %h1
    Produtos
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li
      %a{:href => "#{admin_specialities_path()}"}
        %i.fa.fa-dashboard
    %li.active Produtos
/ Main content
%section.content
  .col-xs-12
    %p
      = link_to "Novo Produto", new_admin_speciality_path, :class => "btn btn-primary"
      / = link_to "Ver Todos", admin_articles_path, :class => "btn btn-primary"  if !params[:tag].blank?

    .box
      .box-header
        %h3.box-title
          Produtos Cadastrados

      .box-body.table-responsive.no-padding#tag_cloud

        /- tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class|
        /  = link_to tag.name, admin_tag_path(tag.name), :class => css_class
        / - tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class|
        /   = link_to(tag.name, admin_tag_path(tag.name), :class => css_class)
      .box-body.table-responsive.no-padding
        %table.table.table-hover.table-responsive#products
          %thead
            %tr
              %th=t"Nome"
              %th=t"Criado em"
              %th=t("actions")
          %tbody
            - for speciality in @specialities
              %tr
                %td= speciality.name
                %td= speciality.created_at.strftime("%d/%m/%y") if speciality.created_at
                %td
                  / = link_to t("show"), admin_columnist_article_path(@columnist, article), :class => "btn btn-default"
                  = link_to t("edit"), edit_admin_speciality_path(speciality), :class => "btn btn-default"
                  = link_to 'Deletar', admin_speciality_path(speciality), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default"

    %p
      = link_to "Novo Produto", new_admin_speciality_path, :class => "btn btn-primary"
      / = link_to "Ver Todos", admin_articles_path, :class => "btn btn-primary"  if !params[:tag].blank?
-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#products').DataTable();
    } );


