%section.content-header
  %h1
    Produtos
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Produto


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Produto

        .box-body
          %p
            %b Nome do produto
            = @speciality.name

  = link_to t("back_list"), admin_specialities_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_speciality_path(@speciality), :class => "btn btn-default"
  = link_to "Novo Produto", new_admin_speciality_path, :class => "btn btn-primary"