-empresas = Admin::Enterprise.where(:featured => true)

-if !empresas.blank?
  .row
    %h1 Empresas em Destaque
    .bloco_empresas
      -empresas.each do |e|
        .row.empresas_destaque
          .logo_empresa.col-md-3
            -if e.img_enterprise.file?
              %a{:href => "/empresas/#{e.id}"}
                =image_tag(e.img_enterprise.url(:small), :class => "img-responsive")
            -else
              %a{:href => "/empresas/#{e.id}"}
                =image_tag("user_missing_small.png", :class => "img-responsive")
          .dados_empresa.col-md-9
            .row
              %h2=link_to e.name, "/empresas/#{e.id}"
            .row
              -e.specialities.all.each do |s|
                %a.btn.btn-especialidade{:href=>"#{tags_empresa_path(s)}"}=s.name
            .row.pt-3.pl-2
              -if e.enterprise_rates.present?
                %span.rating
                  :erb
                    <span class="rating">
                      <input type="radio" class="rating-input" name="rating-input-<%= e.id %>"/ disabled="true" <%= e.enterprise_rates.all.average(:rate).round == 5 ? 'checked' : ''%>>
                      <label for="5" class="rating-star-supplier"></label>
                      <input type="radio" class="rating-input" name="rating-input-<%= e.id %>"/ disabled="true" <%= e.enterprise_rates.all.average(:rate).round == 4 ? 'checked' : ''%>>
                      <label for="4" class="rating-star-supplier"></label>
                      <input type="radio" class="rating-input" name="rating-input-<%= e.id %>"/ disabled="true" <%= e.enterprise_rates.all.average(:rate).round == 3 ? 'checked' : ''%>>
                      <label for="3" class="rating-star-supplier"></label>
                      <input type="radio" class="rating-input" name="rating-input-<%= e.id %>"/ disabled="true" <%= e.enterprise_rates.all.average(:rate).round == 2 ? 'checked' : ''%>>
                      <label for="2" class="rating-star-supplier"></label>
                      <input type="radio" class="rating-input" name="rating-input-<%= e.id %>"/ disabled="true" <%= e.enterprise_rates.all.average(:rate).round == 1 ? 'checked' : ''%>>
                      <label for="1" class="rating-star-supplier"></label>
                    </span>
              -else
                %span.text-muted Sem Avaliação