-most_readed = Article.joins(:article_reads).where(active: true, published: true).group(:id).order("count(*) desc").limit(3)

-if !most_readed.empty?
  .row
    .row
      %h1 mais lidas
    .row
      .mais_lidos
        -most_readed.each do |a|
          .row.post_mais_lido
            .col-md-3
              -if a.image_article.file?
                =image_tag(a.image_article.url(), :class => "img-responsive")
              -else
                =image_tag("user_missing_small.png", :class => "img-responsive")
            .col-md-9
              %h2=a.columnist.name
              %h3=raw(a.columnist.description)
              %a{:href => "#{blog_path(a)}"}=a.subtitle