-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid
  .container
    .row
      .col-md-12.eventos
        %h1 Eventos
        .row
          %table.table.table-hover.table-responsive#events
            %thead
              %tr
                %th="Evento"
                %th="Inicio do evento"
                %th="Fim do Evento"
                %th
            %tbody
              - @eventos.each do |admin_organization|
                %tr
                  %td= admin_organization.title
                  %td= admin_organization.organization_start.strftime("%d/%m/%Y")
                  %td= admin_organization.organization_finish.strftime("%d/%m/%Y")
                  %td 
                    = link_to "Ver Evento", "eventos/#{admin_organization.id}", :class => "btn btn-default"

-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#events').DataTable({
        "language": {
          "lengthMenu": "Exibir _MENU_ por página",
          "zeroRecords": "Nenhum Evento Encontrado...",
          "info": "Exibindo _PAGE_ de _PAGES_ páginas",
          "infoEmpty": "Nenhum Evento Cadastrado",
          "search":         "Pesquisar:",
          "paginate": {
              "first":      "Primeira",  
              "last":       "Última",
              "next":       "Próxima",
              "previous":   "Anterior"
          }
        }
      });
    } );