-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid
  .container
    .row
      .col-md-12.eventos
        %h1= @evento.title
        .row.p-4
          %span= "Começa dia #{@evento.organization_start.strftime('%d/%m/%Y às %H:%M')}."
          
          %span= "Termina dia #{@evento.organization_finish.strftime('%d/%m/%Y às %H:%M')}"
          %br
          %h2
            Descrição
          %p
            = @evento.description
