-content_for :head do
  = stylesheet_link_tag "perfil.css"


.container-fluid.dados_perfil
  .container
    .row
      .col-md-6
        .dados_perfil_esquerda
          .row
            %h1 Wiki Training Society
            =render partial: "filter"
            .wiki_content
              .row
                %p Na nossa Wiki você tem as definições dos termos mais utilizados na área de T&D, encontre os links e acesse a área de empresas e encontre os provedores de conteúdo na área que procura.
              .row
                .col-md-1
                  -if params[:id] == '1'
                    %h1 #
                  -else
                    %h1= params[:id].upcase
                .col-md-11
                  .linha_wiki  
              -@wikis.each do |w|
                .row.w-div
                  %h2=w.title
                  .w-description{class: "test-#{w.id}"}
                    - if w.description.length > 600

                      = raw w.description.truncate(600)

                      %br

                      :erb
                        <a class="read read-more-<%= w.id%> pull-right" data-id="<%= w.id%>" href="">...Ver mais</a>

                      -content_for :footer do
                        :javascript
                          jQuery(document).on('click', '.read-less-#{w.id}', function(b) {
                            b.preventDefault();
                            var id = $(this).data("id");
                            $('.test-' + id).html('#{escape_javascript raw w.description.truncate(600)} <br> <a class="read read-more-#{ w.id} pull-right" data-id="#{w.id}" href="">...Ver mais</a>')
                          })
                          jQuery(document).on('click', '.read-more-#{w.id}', function(e) {
                            e.preventDefault();
                            var id = $(this).data("id");
                            $('.test-' + id).html('#{escape_javascript raw(w.description)} <br> <a class="read read-less-#{w.id} pull-right" data-id="#{w.id}" href="" >...Ver menos</a>')
                          })
                    - else
                      =raw(w.description)

                  - if w.speciality_related.present?
                    %strong
                      Para ver as Empresas relacionadas com este artigo
                      %a{:href => "#{empresas_path(product: w.speciality_related)}"} clique aqui


      .col-md-5.col-md-offset-1
        .dados_perfil_direita
          =render file: "layouts/widgets/_perfil_bar.html.haml"
          =render file: "layouts/widgets/_empresas.html.haml"
          =render file: "layouts/widgets/_ajude_nos.html.haml"
          =render file: "layouts/widgets/_mais_lidos.html.haml"
