-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid
  .container
    .row
      .col-md-12.eventos
        %h1 Bem vindo ao Training Society! Esta é a sua comunidade.

        

        %h2 Nossa Missão
        %p
          Nós, da equipe Training Society, concentramos nossos esforços com o objetivo de promover o compartilhamento de conhecimento e fomentar o relacionamento entre profissionais da área de desenvolvimento humano e instituições produtoras de conhecimento.
          <br><br>
          Training Society cria um ambiente confiável, para que profissionais da área do conhecimento possam encontrar empresas e produtos de treinamento e educação profissional de forma rápida e prática, zelando para que este relacionamento seja pautado pela ética.
          <br><br>
          Training Society destaca notícias relevantes ao desenvolvimento de pessoas, artigos, estudos de caso e melhores práticas dentro da indústria do conhecimento. Nosso foco é dar suporte aos profissionais que se dedicam a desenvolver pessoas dentro das organizações, para obter informação, conhecimento e ferramentas necessárias para gerenciar o negócio de aprendizagem de forma mais eficaz.

        %h2 Publique seu artigo em nosso site.
        %p
          O Training Society disponibiliza uma plataforma para que os líderes de treinamento possam compartilhar o que é tendência na área de desenvolvimento de pessoas e acessar as informações mais atualizadas. Todos os artigos aceitos para publicação on-line são publicados de acordo com o nosso calendário editorial.
          <br><br>
          • Os artigos devem se concentrar em temas relevantes para o desenvolvimento de pessoas nas organizações, deverão conter ideias, inspirações do próprio autor ou citações referendadas de conteúdos de valor concreto para a formação de profissionais.
          <br>
          • Os artigos deverão ser sem foco comercial, sem referências a produtos, empresas, serviços ou soluções.
          <br>
          • Os artigos de maneira alguma deverão expressar negatividade de forma enfática à empresas, processos ou práticas. Quando isto ocorrer, deverão observar o direito do contraditório. 
          <br><br>
          Compartilhe suas ideias ou submeta seus artigos completos para: eli.dias@trainingsociety.com.br

        %h2 Uma comunidade do conhecimento.
        %p
          Training Society apoia o intercâmbio de informações para dar suporte aos líderes de treinamento: isso inclui tanto os nossos próprios recursos e artigos submetidos por membros, estudos de caso, artigos patrocinados, relatórios de pesquisa e muito mais. A participação ativa dos membros neste diretório é fundamental. 
          <br><br>
          Além de encontrar a empresa ou produto de treinamento que procura, os membros também podem indicar e avaliar as empresas. A ferramenta de busca de empresas da Training Society é organizada por tópicos, para facilitar a busca. 
          <br><br>
          • Consultoria de Treinamento<br>
          • Coaching<br>
          • Palestras<br>
          • Ferramentas de Diagnóstico<br>
          • Tecnologias de Aprendizagem<br>
          • Treinamento de Vendas<br>
          • Educação Profissional<br>
          • Produção de Conteúdo e Design Instrucional<br>
          • Treinamento de Liderança<br>
          • Treinamento Comportamental<br>
          • Treinamento Funcional e Técnico<br>
          • Suporte e Materiais de Apoio <br>
          • Eventos e Infra-estrutura para Treinamento<br>
          
        %h2 Seu site de conveniência
        %p
          Tempo é dinheiro. Training Society entende que você não tem tempo de sobra para navegar na Internet pesquisando sobre treinamento, e que você precisa de uma fonte confiável para encontrar o que procura. Em nossa ferramenta de busca você pode encontrar algo que atenda sua necessidade. Não encontrou? Deixe sua crítica ou sugestão em nossa “Caixa de Ideias”. Caso você tenha utilizado serviços de alguma das empresas cadastradas, poderá realizar sua avaliação e assim contribuir para que outros colegas tomem uma melhor decisão. Somos como uma “loja de conveniência” para encontrar o que você precisa, apresentadas de forma clara em uma variedade de formatos.
          <br><br>
          • Artigos<br>
          • Webinars<br>
          • Livros<br>
          • Pesquisas<br>
          • Centros de produção de conteúdo<br>
          
        %h2 Cadastre sua empresa no Training Society, sem custo.
        %p
          Training Society, é um recurso para a formação de profissionais competentes para melhorar o desempenho empresarial, produzimos um e-mail semanal para atualizar nossos membros sobre os artigos, últimas notícias e anúncios do setor de treinamento.
          <br><br>
          Na categoria “Expositor” não há nenhum custo para divulgar sua empresa em nosso site e ficar visível para nossa comunidade de membros. Você pode ainda convidar os clientes para avaliar sua empresa em nosso site, você melhora a exposição, também sem nenhum custo adicional.
          <br><br>
          Entre no Guia de Empresas, preencha os campos ou envie seu release ou teaser para atendimento@trainingsociety.com.br, e nos adicione à sua lista de clientes para que eles não fiquem de fora.
        
        %h2 Guia de Empresas e Avaliações
        %p
          Você está procurando uma empresa especializada em sua necessidade de treinamento? Identificar empresas que tem o que você precisa e que sejam confiáveis pode ser um grande desafio. Training Society possui uma ferramenta de busca com um Guia de Empresas amplo e de cobertura nacional. Você precisa apenas colocar uma palavra chave em nossa ferramenta de busca e encontrar o treinamento e/ou o fornecedor que procura. Lá você encontrará as informações sobre as empresas, dados para contato, link para o site e produtos de treinamento disponíveis. 
          <br><br>
          • Busca em nossa rede de fornecedores de treinamento.
          <br>
          • Não encontrou um curso ou empresa que estava procurando? Contate-nos em “Caixa de Ideias” e deixe sua sugestão.
          <br><br>
          Caso você tenha sido um usuário dos serviços de alguma empresa, poderá colocar sua avaliação para ajudar outros colegas seus a tomar uma melhor decisão.
        
        %h2 Eventos e Webinars do Training Society
        %p
          • Disponibilizamos Webinars com principais palestrantes e formadores de opinião da indústria do conhecimento. Você receberá dicas, recursos e soluções com o propósito de te ajudar na melhoria da sua performance, da sua equipe e da sua empresa.
          <br>
          • Em nossos eventos presenciais procuramos reunir as melhores empresas produtoras de conhecimento para proporcionar aos participantes insights sobre as últimas tendências, tecnologias emergentes e soluções customizadas.
          <br>
          • Aceite receber as atualizações do Training Society para ficar por dentro dos próximos eventos organizados por empresas e líderes da área de desenvolvimento de pessoas.
        
        %h2 Blog do Training Society
        %p
          Nossa comunidade de membros possui um grande desafio em comum, que é desenvolver pessoas dentro das organizações. Training Society traz os melhores líderes formadores de opinião, experts em diferentes áreas do conhecimento juntos em um só lugar para cumprir o principal propósito do Training Society, que é compartilhar conhecimento. Nossos blogueiros concentram-se em fornecer histórias de sucesso, informações úteis e uma visão única sobre os desafios atuais e futuros.
