<% flash.each do |key, value| %>
  <div class="alert alert-success alert-dismissible show" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <%= value %>
  </div>
<% end %>
<!-- BANNER -->
<section class="banner-section align-items-center d-flex">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="text-white display-4 font-weight-bold">Guia de Empresas</h1>
        <p class="text-white">Encontre aqui a empresa ou o treinamento que procura. Você não precisa gastar tempo procurando um programa de treinamento na internet. Em nosso Guia de Empresas é fácil e rápido.</p>
        <%=link_to("Cadastre-se Aqui", "/register", :class => "btn primary-btn text-white font-weight-bold px-4")%>
      </div>
    </div>
  </div>
</section>
<!-- END BENNER -->
<!-- NEWS -->
<section class="news-section my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <%if @destaque.image_article.file?%>
          <a href="<%=blog_path(@destaque)%>">
            <%=image_tag(@destaque.image_article.url(), :class => "w-100")%>
          </a>
        <%else%>
          <%=image_tag("user_missing_small.png", :class => "w-100")%>
        <%end%>
        <a class="text-black text-decoration-none" href="<%=blog_path(@destaque)%>"><h4 class="font-weight-bold"><%=@destaque.title%></h4></a>
        <small class="text-muted">Postado em <%=@destaque.updated_at.strftime('%d/%m/%Y')%></small>
        <p class="text-justify"><%= raw(@destaque.subtitle.truncate(200))%></p>
        <a class="text-black text-decoration-none" href="<%=blog_path(@destaque)%>">Continue Lendo</a>
      </div>
      <div class="col-lg-4 col-sm-6 d-flex flex-wrap align-content-stretch">
        <%@articles.last(6).each do |a|%>
          <div class="media mb-2">
            <%if @destaque.image_article.file?%>
              <a href="<%=blog_path(a)%>">
                <%=image_tag(a.image_article.url(), :class => "d-flex mr-3", :width => "100")%>
              </a>
            <%else%>
              <%=image_tag("user_missing_small.png", :class => "d-flex mr-3", :width => "100")%>
            <%end%>
            <div class="media-body">
              <a class="text-black text-decoration-none" href="<%=blog_path(a)%>"><strong class="mt-0"><%=a.title%></strong></a>
              <small class="text-muted d-block">Postado em <%=a.updated_at.strftime('%d/%m/%Y')%></small>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <div class="border border-light text-center py-2">
          <a target="_blank" href="https://www.facebook.com/TrainingSocietyBr/"><i class="fab fa-facebook px-2 facebook pt-1"></i></a>
          <a target="_blank" href="https://www.instagram.com/trainingsocietybr/?hl=pt-br"><i class="fab fa-instagram px-2 instagram pt-1"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company/training-society/"><i class="fab fa-linkedin px-2 linkedin pt-1"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UC--UnhEWsgEIs-seajeNz2w"><i class="fab fa-youtube px-2 youtube pt-1"></i></a>
        </div>
        <div class="border border-light text-center mt-3 py-2" style="height: 89%;">
          <div class="patro my-auto h-100">
            <div class="p-relative">
              <a href="http://www.misslily.com.br" target="_blank"><img class="img-fluid m-auto" src="assets/home/misslily.jpg"></a>
            </div>
            <div class="p-relative">
              <a href="http://www.fumagali.com.br" target="_blank"><img src="assets/home/fumagali.jpg" width="217" height="217" class="m-auto"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END NEWS -->
<!-- COUNTS -->
<section class="counts-section mb-5 primary-bg py-5">
  <div class="d-flex justify-content-center text-center my-5">
    <div class="px-md-5"><strong class="text-white"><h2><%=@empresas.count%></h2>Empresas</strong></div>
    <div class="px-md-5 px-3"><strong class="text-white"><h2>12</h2>Treinamentos</strong></div>
    <div class="px-md-5"><strong class="text-white"><h2>68</h2>Eventos</strong></div>
  </div>
</section>
<!-- END COUNTS -->
<!-- FIND -->
<section class="finds-section my-5">
  <div class="container">
    <h1 class="display-4 text-center">O que você encontra na Training Society?</h1>
    <div class="row mt-5 pt-3">
      <div class="col-md-4 shape-bg pt-3 pl-4">
        <div class="p-3">
          <h1>Artigos</h1>
          <p class="text-muted text-justify">
            Training Society apoia o intercâmbio de informações, disponibilizamos conteúdos relevantes para os profissionais que treinam e desenvolvem pessoas. Cadastre-se como membro, é gratuito e você pode participar e ainda publicar seu artigo.
          </p>              
        </div>
      </div>
      <div class="col-md-4 shape-bg pt-3 pl-4">
        <div class="p-3">
          <h1>Wiki</h1>
          <p class="text-muted text-justify">
            Na nossa Wiki você tem as definições dos termos mais utilizados na área de T&D, encontre os links e acesse a área de empresas e encontre os provedores de conteúdo na área que procura.
          </p>
        </div>
      </div>
      <div class="col-md-4 shape-bg pt-3 pl-4">
        <div class="p-3">
          <h1>Agenda de Eventos</h1>
          <p class="text-muted text-justify">
            Disponibilizamos Webinars e Eventos com principais palestrantes e formadores de opinião da indústria do conhecimento. Como membro, você receberá dicas, recursos e soluções com o propósito de fornecer suporte no desenvolvimento de pessoas na sua empresa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FIND -->
<!-- PARTNERS -->
<section class="partners-section">
  <div class="container">
    <h1 class="display-4 text-center">Já estão na Training Society</h1>
    <div class="row partners my-5 pt-3">
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/Playerum 2.png"/>
      </div>
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/Logo CLSB.jpg"/>
      </div>
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/logo paradigma.jpg"/>
      </div>
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/Logo Exitus.png"/>
      </div>
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/logo-inedita.png"/>
      </div>
      <div class="p-relative">
        <img class="w-100 px-4" src="assets/home/Logo_Ilumne.jpg"/>
      </div>
    </div>      
  </div>      
</section>
<!-- END PARTNERS -->
<!-- ENTERPRISES -->
<section class="entreprises-section">
  <div class="container-fluid p-0">
    <div class="row w-100 mt-5 mx-0 align-items-center">
      <div class="col-md-4 offset-md-2 pl-5 pr-4">
        <h2 class="mb-4 font-weight-bold">Training Society para empresas</h2>
        <span class="font-weight-bold d-block py-3 border border-light border-top-0 border-left-0 border-right-0">Cadastre sua empresa</span>
        <span class="font-weight-bold d-block py-3 border border-light border-top-0 border-left-0 border-right-0">Divulgue sua tecnologias</span>
        <span class="font-weight-bold d-block py-3 ">Agenda de eventos</span>
        <button class="mt-4 primary-btn text-white font-weight-bold px-4" data-target="#exampleModal3" data-toggle="modal" type="button">
          <span>Cadastre Sua Empresa!</span>
        </button>
        <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="exampleModal3Label" class="modal fade" id="exampleModal3" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal3Label">Formulário de contato</h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= form_for @new_enterprise do |f| %>
                    <fieldset>
                      <div class="row">
                        <div class="form-group col-sm-8">
                          <%= f.label :name, "Nome Completo:" %>
                          <%= f.text_field :name, :placeholder => "Preencha o seu nome", :class => "form-control", required: true %>
                        </div>
                        <div class="form-group col-sm-4">
                          <%= f.label :phone, raw("Telefone:" ) %>
                          <%= f.text_field :phone, :placeholder => "ex: (00) 0000-0000", :class => "form-control", required: true %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-12">
                          <%= f.label :email, "E-mail:" %>
                          <%= f.text_field :email, :placeholder => "Preencha o seu email", :class => "form-control", required: true %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.label :message, "Mensagem:" %>
                        <%= f.text_area :message, :placeholder => "Escreva aqui a sua mensagem", :class => "form-control big-text", :rows => "8", required: true %>
                      </div>
                      <%= f.submit "Enviar", :class => "btn btn-primary pull-right", :data => { :disable_with=> "Aguarde..." } %>
                    </fieldset>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-6 p-0 hidden-xs">
        <img src="assets/home/bnner2.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- END ENTERPRISES -->
<!-- CONTACT -->
<section class="contact-section mt-5 pb-5">
  <div class="container">
    <div class="contact-box px-sm-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 py-5">
            <strong class="text-muted">Email:</strong><small  class="text-muted d-block">vanderlei.marques@trainingsociety.com.br</small>
            <strong  class="text-muted">Telefone:</strong><small  class="text-muted d-block"> +55 11 97777-8798</small>
          </div>
          <div class="col-md-8">
            <div class="col-12">
              <h1 class="font-weight-bold">Contate-nos</h1>                  
            </div>
            <%= form_for [@contact] do |f| %>
              <div class="form-group">
                <div class="row w-100 m-0">
                  <div class="col-sm-6">
                    <%= f.text_field :name, :placeholder => "Nome", :class => "form-control", required: true %>
                  </div>
                  <div class="col-sm-6 mt-3 mt-sm-0">
                    <%= f.text_field :email, :placeholder => "Email", :class => "form-control", required: true %>
                  </div>
                </div>                  
              </div>
              <div class="form-group">
                <div class="col-12">
                  <%= f.text_area :message, :placeholder => "Escreva aqui a sua mensagem", :class => "form-control", :rows => "6", required: true %>
                  <div class="form-group mt-3">
                    <%= f.submit "Enviar", :class => "text-white float-right secondary-btn px-4", :data => { :disable_with=> "Aguarde..." } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="copiright text-center pt-5">          
      <small class="text-white font-weight-light">© TRAINING SOCIETY 2018 - TODO DIRETOS RESERVADOS</small>     
    </div>
  </div>
</section>
<!-- END CONTACT -->
