
.container-fluid.home-block-01
  .row
    .col-md-6
      /%img{:src => "/assets/tree-home.png"}/
    .col-md-6
      .form-home-cadastro
        = form_for [@user] do |f|
          %label NOME
          %br/
          .col-md-12
            = f.text_field :name, class: "input-cadastro form-control"
          %br/
          %label SOBRENOME
          %br/
          .col-md-12
            = f.text_field :last_name, class: "input-cadastro form-control"
          %br/
          %label E-MAIL
          %br/
          .col-md-12
            = f.text_field :email, class: "input-cadastro form-control"
          %br/
          %label TELEFONE
          %br/
          .col-md-12
            = f.text_field :phone, class: "input-cadastro form-control"
          %br
          %label CELULAR
          %br/
          .col-md-12
            = f.text_field :cellphone, class: "input-cadastro form-control"
          %br
          %label SENHA
          %br
          .col-md-12
            = f.password_field :password, class: "input-cadastro form-control"
          %br
          %label CONFIRME SUA SENHA
          %br
          .col-md-12
            = f.password_field :password_confirmation, class: "input-cadastro form-control"
          %br/
          %br/
          %p Ao clicar em Cadastre-se agora, você aceita o Contrato do Usuário, a Política de Privacidade e a Política de Cookies do Training Society.
          %br
          .row
            .offset-sm-2.col-sm-8
              %button{type: "submit", class: "btn-form primary-btn text-white"} CADASTRE-SE AGORA
            .mt-4.col-12
              .row
                .col-sm-6.mt-4
                  %a{href: "http://www.trainingsociety.com.br/auth/linkedin", class: "btn-form btn-primary px-4 py-2 rounded"}
                    %i.fab.fa-linkedin.mr-2
                    Conectar com Linkedin
                .col-sm-6.mt-4
                  %a{href: "http://www.trainingsociety.com.br/auth/facebook", class: "btn-form btn-primary px-4 py-2 rounded"}
                    %i.fab.fa-facebook.mr-2
                    Conectar com Facebook
