.wiki
  %ul
    %li
      %a{:href => "#{empresas_path(q: 'a')}"} a
    %li
      %a{:href => "#{empresas_path(q: 'b')}"} b
    %li
      %a{:href => "#{empresas_path(q: 'c')}"} c
    %li
      %a{:href => "#{empresas_path(q: 'd')}"} d
    %li
      %a{:href => "#{empresas_path(q: 'e')}"} e
    %li
      %a{:href => "#{empresas_path(q: 'f')}"} f
    %li
      %a{:href => "#{empresas_path(q: 'g')}"} g
    %li
      %a{:href => "#{empresas_path(q: 'h')}"} h
    %li
      %a{:href => "#{empresas_path(q: 'i')}"} i
    %li
      %a{:href => "#{empresas_path(q: 'j')}"} j
    %li
      %a{:href => "#{empresas_path(q: 'k')}"} k
    %li
      %a{:href => "#{empresas_path(q: 'l')}"} l
    %li
      %a{:href => "#{empresas_path(q: 'm')}"} m
    %li
      %a{:href => "#{empresas_path(q: 'n')}"} n
    %li
      %a{:href => "#{empresas_path(q: 'o')}"} o
    %li
      %a{:href => "#{empresas_path(q: 'p')}"} p
    %li
      %a{:href => "#{empresas_path(q: 'q')}"} q
    %li
      %a{:href => "#{empresas_path(q: 'r')}"} r
    %li
      %a{:href => "#{empresas_path(q: 's')}"} s
    %li
      %a{:href => "#{empresas_path(q: 't')}"} t
    %li
      %a{:href => "#{empresas_path(q: 'u')}"} u
    %li
      %a{:href => "#{empresas_path(q: 'v')}"} v
    %li
      %a{:href => "#{empresas_path(q: 'w')}"} w
    %li
      %a{:href => "#{empresas_path(q: 'x')}"} x
    %li
      %a{:href => "#{empresas_path(q: 'y')}"} y
    %li
      %a{:href => "#{empresas_path(q: 'z')}"} z