.col-md-3
  .dados_perfil_esquerda
    .row
      %h1 Melhore sua busca
      .filtros_empresa
        = form_tag(empresas_path, method: "get", id: "search-form") do
          .row
            %h2 Categoria
            /%a.btn.btn-especialidade{:href => "#{empresas_path(category: 'vendas')}"} Vendas
            = radio_button_tag 'category', 'vendas'
            %label.btn.btn-especialidade{for: 'category_vendas'} Vendas
            %br/
            /%a.btn.btn-especialidade{:href => "#{empresas_path(category: 'liderança')}"} Liderança
            = radio_button_tag 'category', 'liderança'
            %label.btn.btn-especialidade{for: 'category_lideran_a'} Liderança
            %br/
            /%a.btn.btn-especialidade{:href => "#{empresas_path(category: 'jogos')}"} Jogos
            = radio_button_tag 'category', 'jogos'
            %label.btn.btn-especialidade{for: 'category_jogos'} Jogos
          .row
            %h2 Especialidade
            /%a.btn.btn-especialidade{:href => "#{empresas_path(speciality: 'Performance')}"} Performance
            = radio_button_tag 'speciality', 'Performance', false
            %label.btn.btn-especialidade{for: 'speciality_Performance'} Performance
            %br/
            /%a.btn.btn-especialidade{:href => "#{empresas_path(speciality: 'EAD e-Learning')}"} EAD e-Learning
            = radio_button_tag 'speciality', 'EAD e-Learning', false
            %label.btn.btn-especialidade{for: 'speciality_EAD_e-Learning'} EAD e-Learning
            %br/
            /%a.btn.btn-especialidade{:href => "#{empresas_path(speciality: 'Coaching')}"} Coaching
            = radio_button_tag 'speciality', 'Coaching', false
            %label.btn.btn-especialidade{for: 'speciality_Coaching'} Coaching
            %br/
            /%a.btn.btn-especialidade{:href => "#{empresas_path(speciality: 'Eventos')}"} Eventos
            = radio_button_tag 'speciality', 'Eventos', false
            %label.btn.btn-especialidade{for: 'speciality_Eventos'} Eventos

          .row
            %h2 Localidade
            
            = select_tag :state, options_for_select(City.where("EXISTS(SELECT 1 from admin_enterprises where cities.id = admin_enterprises.city_id)").map(&:state).map(&:name).uniq.sort_by { |name| name }, params[:state] || "SP"), include_blank: "Estado", class: "select2 filter-state",  style: "width: 50%;"
            %br
            %br
            /-if params[:state] && params[:state] != ""
            = select_tag :city, options_for_select(City.where("EXISTS(SELECT 1 from admin_enterprises where cities.id = admin_enterprises.city_id)").map(&:name).uniq.sort_by { |name| name }, params[:city] || "Cidade"), prompt: "Cidade", class: "select2 filter-city", style: "width: 50%;"
            /- else
            /  = select_tag :city, "", prompt: "Selecione um estado antes", class: "select2 filter-city"

            %br

            = submit_tag 'pesquisar', class: 'btn-login px-3'


      /%img.img-responsive{:src => "/assets/anuncie1.png", :style => "margin-top:20px;margin-bottom:20px;"}/
      /%img.img-responsive{:src => "/assets/anuncie2.png", :style => "margin-top:20px;margin-bottom:20px;"}/