-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid.dados_perfil
  .container
    .row
      =render :partial => "filters"
      .col-md-9
        #enterprises.dados_perfil_direita.empresa_direita
          .row
            %h1 DIRETÓRIO DE EMPRESAS
            =render :partial => "filter_letter"
          /.row
          /  .bloco_empresas_principal
          /    .row.empresas_destaque_principal
          /      .logo_empresa.col-md-2
          /        %img{:src => "/assets/logo_empresa.png"}/
          /      .dados_empresa.col-md-10
          /        .row
          /          %h2 HP BRASIL
          /          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.sum dolor sit amet, consectetur adipsum dolor sit amet, consectetur adip. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, sum dolor sit amet, consectetur adipet, sum dolor sit amet, consectetur adip
          /      .col-md-12
          /        .row
          /          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          /          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          /          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE


          -if @empresas.blank?
            %p
              Não há registro de empresas cadastradas.
              / <br> Selecione uma letra a cima ou utilize a busca para continuar.
          -else
            -@empresas.each do |e|
              .enterpriseRow.row
                .bloco_empresas_principal_white
                  .row.empresas_destaque_principal_white
                    .logo_empresa.col-md-2
                      -if e.img_enterprise.file?
                        %a{:href => "/empresas/#{e.id}"}
                          =image_tag(e.img_enterprise.url, :class => "img-responsive")
                      -else
                        %a{:href => "/empresas/#{e.id}"}
                          =image_tag("user_missing_small.png", :class => "img-responsive")

                    .dados_empresa.col-md-10
                      .row
                        %h2
                          %a{:href => "/empresas/#{e.id}"}
                            ="#{e.name}"
                        %p="#{e.description}"
                    .col-md-12
                      .row
                        -e.specialities.all.each do |s|
                          %a.btn.btn-especialidade{:href => "#{empresas_path(product: s.name)}"}=s.name
            -if @empresas.count >= 8
              .row
                %span#loadMore
                  Mostrar mais
                %span#showLess
                  Mostrar menos
