<% content_for :head do %>
  <%= stylesheet_link_tag "perfil.css" %>
<% end %>

<div class="container-fluid top_perfil">
  <div class="container">
    <div class="row">
      <div class="col-md-12 perfil" style="background-image: url(<%= @empresa.banner_enterprise.file? ? @empresa.banner_enterprise.url : "/assets/capa-perfil.png" %>);">
        <div class="col-md-3 avatar-perfil">
          <% if @empresa.img_enterprise.file? %>
            <a href="#">
              <%= image_tag(@empresa.img_enterprise.url, :class => "img-responsive", width: "225") %>
            </a>
          <% else %>
            <%= image_tag("user_missing_medium.png") %>
          <% end %>
        </div>
        <div class="col-md-9">
          <div class="row enterprise-info">
            <h2>
              <%= @empresa.name %>
            </h2>
            <p>
              <%= "#{@empresa.address}, #{@empresa.number} - #{@empresa.city.name if @empresa.city.present?} / #{@empresa.city.state.symbol  if @empresa.city.present?}" %>
            </p>
            <p>
              <%= @empresa.phone %>
            </p>
            <p>
              <%= @empresa.email %>
            </p>
            <p>
              <a href="//<%= @empresa.site %>" target="_blank"><%= @empresa.site %></a> 
            </p>
          </div>
          <!--.row
          -->
          <!--  %a{:href => "#{edit_user_path(current_user.id)}"}
          -->
          <!--    %img{:src => "/assets/btn-editar-perfil.png"}/
          -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid info_empresas">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Produtos</h1>
        <div class="row especialidades_empresa">
          <% @empresa.specialities.all.each_with_index do |s, x| %>
            <span class="btn btn-especialidade"><%= s.name%></span>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h1>Especialidades</h1>
        <div class="sobre_empresa">
          <p>
            <%= @empresa.description %>
        </div>
      </div>
    </div>
  </div>
</div>



<% if !@portfolios.empty? %>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 galeria">
          <h1>portifólio</h1>
          <div class="row galeria-itens">
            <div class="row">
              <% @portfolios.each do |p| %>
                <% if p.portfolio_img.file? %>
                  <div class="col-md-3">
                    <%= image_tag(p.portfolio_img.url(:medium)) %>
                    <h3>
                      <%= p.title %>
                    </h3>
                    <h4>
                      <%= p.created_at.strftime("%d/%m/%Y") %>
                    </h4>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row info_empresas">
          <h1>Avaliações</h1>
        </div>
        <div class="row">
          <div class="avaliation text-center sobre_empresa">
            <!-- Button trigger modal -->

            <div class="col-sm-6">
              Elaboração de conteúdo:
              <br>
              <span class="rating">
                <input type="radio" class="rating-input" name="rating-input-1"/ disabled="true" <%= @media_elaboration == 5 ? 'checked' : ''%>>
                <label for="5" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-1"/ disabled="true" <%= @media_elaboration == 4 ? 'checked' : ''%>>
                <label for="4" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-1"/ disabled="true" <%= @media_elaboration == 3 ? 'checked' : ''%>>
                <label for="3" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-1"/ disabled="true" <%= @media_elaboration == 2 ? 'checked' : ''%>>
                <label for="2" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-1"/ disabled="true" <%= @media_elaboration == 1 ? 'checked' : ''%>>
                <label for="1" class="rating-star-supplier"></label>
              </span>
            </div>
            <div class="col-sm-6">
              Entrega de conteúdo:
              <br>
              <span class="rating">
                <input type="radio" class="rating-input" name="rating-input-2"/ disabled="true" <%= @media_delivery == 5 ? 'checked' : ''%>>
                <label for="5" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-2"/ disabled="true" <%= @media_delivery == 4 ? 'checked' : ''%>>
                <label for="4" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-2"/ disabled="true" <%= @media_delivery == 3 ? 'checked' : ''%>>
                <label for="3" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-2"/ disabled="true" <%= @media_delivery == 2 ? 'checked' : ''%>>
                <label for="2" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-2"/ disabled="true" <%= @media_delivery == 1 ? 'checked' : ''%>>
                <label for="1" class="rating-star-supplier"></label>
              </span>
            </div>
            <div class="col-sm-6">
              Nivel de atendimento geral:
              <br>
              <span class="rating">
                <input type="radio" class="rating-input" name="rating-input-3"/ disabled="true" <%= @media_service == 5 ? 'checked' : ''%>>
                <label for="5" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-3"/ disabled="true" <%= @media_service == 4 ? 'checked' : ''%>>
                <label for="4" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-3"/ disabled="true" <%= @media_service == 3 ? 'checked' : ''%>>
                <label for="3" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-3"/ disabled="true" <%= @media_service == 2 ? 'checked' : ''%>>
                <label for="2" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-3"/ disabled="true" <%= @media_service == 1 ? 'checked' : ''%>>
                <label for="1" class="rating-star-supplier"></label>
              </span>
            </div>
            <div class="col-sm-6">
              Média geral da empresa:
              <br>
              <span class="rating">
                <input type="radio" class="rating-input" name="rating-input-4"/ disabled="true" <%= @media == 5 ? 'checked' : ''%>>
                <label for="5" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-4"/ disabled="true" <%= @media == 4 ? 'checked' : ''%>>
                <label for="4" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-4"/ disabled="true" <%= @media == 3 ? 'checked' : ''%>>
                <label for="3" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-4"/ disabled="true" <%= @media == 2 ? 'checked' : ''%>>
                <label for="2" class="rating-star-supplier"></label>
                <input type="radio" class="rating-input" name="rating-input-4"/ disabled="true" <%= @media == 1 ? 'checked' : ''%>>
                <label for="1" class="rating-star-supplier"></label>
              </span>
            </div>

            <a class="button-primary" data-toggle="modal" href="#myModal1" >Avaliar esta empresa</a>
            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Termo de Responsabilidade do Avaliador</h4>
                  </div>
                  <div class="modal-body">
                    Eu, na categoria de usuário do Training Society, declaro ter obtido serviços por parte desta empresa, seja como cliente contratante ou como usuário dos serviços, declaro também que as informações aqui contidas representam minha opinião particular
                    <input type="checkbox" class="chkboxe">
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Avaliar", new_empresa_rate_path(@empresa), :class => "btn btn-primary fancybox avaliar", "data-fancybox-type" => "iframe" %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

          </div>
          <div class="row info_empresas">
            <h1>Comentários</h1>
          </div>
          <div class="mais_lidos">
            <% @empresa.enterprise_rates.all.order(:id => "desc").each do |c| %>
              <div class="row post_mais_lido">
                <div class="col-md-2">
                  <% if c.user.picture.file? %>
                    <a href="#">
                      <%= image_tag(c.user.picture.url(:small)) %>
                    </a>
                  <% else %>
                    <%= image_tag("user_missing_small.png") %>
                  <% end %>
                </div>
                <div class="col-md-10">
                  <h2>
                    <%= "#{c.user.name} #{c.user.last_name} (#{c.rate})" %>
                  </h2>
                  <p>
                    <%= c.comment %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :footer do %>
  <script>

    $(document).ready(function() {
      $(".fancybox").fancybox({
        maxWidth  : 800,
        maxHeight : 600,
        fitToView : false,
        width   : '70%',
        height    : '70%',
        autoSize  : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
      });

      $('.avaliar').toggle();

      $('.chkboxe').change(function(){
          $('.avaliar').toggle( $('.chkboxe:checked').length == 1);
      });
    });

  </script>
<% end %>
