%section.content-header
  %h1
    Empresas
    %small Control panel
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Empresas


/ Main content
%section.content
  .col-xs-12
    %p= link_to "Nova Empresa", new_admin_enterprise_path, :class => "btn btn-primary"

    .box.a
      .box-header
        %h3.box-title Empresas

      / /.box-header
      .box-body.table-responsive.no-padding
        %table.table.table-hover.table-responsive#enterprises
          %thead
            %tr
              %th ID
              %th="Nome"
              %th="Especialidades"
              / %th=t("activerecord.attributes.admin_enterprise.visualizations")
              %th="Publicada?"
              %th Ações
          %tbody
            - @admin_enterprises.each do |admin_enterprise|
              %tr{:style => ("background-color:#f39c12;" unless admin_enterprise.published?)}
                %td= admin_enterprise.id
                %td= admin_enterprise.name
                %td= admin_enterprise.description
                / %td= admin_enterprise.visualizations
                %td= admin_enterprise.published
                %td
                  = link_to "Show", [admin_enterprise], :class => "btn btn-default"
                  = link_to "Edit", edit_admin_enterprise_path(admin_enterprise), :class => "btn btn-default"
                  = link_to "Portifolios", admin_enterprise_portfolios_path(admin_enterprise), :class => "btn btn-primary"
                  = link_to "Destroy", [admin_enterprise], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

    %p= link_to "Nova Empresa", new_admin_enterprise_path, :class => "btn btn-primary"

-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#enterprises').DataTable();
    } );
