%section.content-header
  %h1
    Usuários  
    %small Control panel
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Usuários


/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo Usuário", new_admin_user_path, :class => "btn btn-primary"
    
    .box.a
      .box-header
        %h3.box-title Usuários
      .box-body.table-responsive.no-padding
        %table.table.table-hover.table-responsive#users
          %thead
            %tr
              %th ID
              %th=t("activerecord.attributes.user.name")
              %th=t("activerecord.attributes.user.email")
              %th=t("activerecord.attributes.user.role")
              %th Ações
          %tbody
            - for user in @users
              %tr
                %td= user.id
                %td= user.name
                %td= user.email
                %td
                  - if user.has_role?(:administrator)
                    %span.label.label-danger
                      = user.role
                  
                  - if user.has_role?(:columnist)
                    %span.label.label-info
                      = user.role
                      
                  - if user.has_role?(:user)
                    %span.label.label-default
                      = user.role
                %td 
                  -if user.id != 112
                    = link_to "Show", [:admin, user], :class => "btn btn-default"
                    = link_to "Edit", edit_admin_user_path(user), :class => "btn btn-default"
                    = link_to "Destroy", [:admin, user], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"

    %p= link_to "Novo Usuário", new_admin_user_path, :class => "btn btn-primary"

-content_for :footer do
  :javascript
    $(document).ready(function() {
      $('#users').DataTable();
    } );