%section.content-header
  %h1
    Dashboard
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li.active
      Dashboard
.row.p-5
  .col-sm-6
    .col-sm-offset-2.col-md-8
      / small box
      .small-box.bg-aqua
        .inner
          %h3
            =@enterprises.count
          %p
            Empresas
        .icon
          %i.fa.fa-building-o
        %a.small-box-footer.no-print{:href => "#{admin_enterprises_path()}"}
          Mais informações
          %i.fa.fa-arrow-circle-right
  / ./col
  .col-sm-6
    .col-sm-offset-2.col-md-8
      / small box
      .small-box.bg-green
        .inner
          %h3
            =@users.count
          %p
            Usuários
        .icon
          %i.fa.fa-user
        %a.small-box-footer.no-print{:href => "#{admin_users_path()}"}
          Mais informações
          %i.fa.fa-arrow-circle-right
  / ./col
  .col-sm-6
    .col-sm-offset-2.col-md-8
      / small box
      .small-box.bg-yellow
        .inner
          %h3
            =@articles.count
          %p
            Artigos
        .icon
          %i.fa.fa-pencil-square-o
        %a.small-box-footer.no-print{:href => "#{admin_columnists_path()}"}
          Mais informações
          %i.fa.fa-arrow-circle-right
  / ./col
  .col-sm-6
    .col-sm-offset-2.col-md-8
      / small box
      .small-box.bg-red
        .inner
          %h3
            =@suggestions.count
          %p
            Sugestões
        .icon
          %i.fa.fa-lightbulb-o
        %a.small-box-footer.no-print{:href => "#{admin_suggestions_path()}"}
          Mais informações
          %i.fa.fa-arrow-circle-right