-content_for :head do
  = stylesheet_link_tag "perfil.css"
  

.container-fluid.dados_perfil
  .container
    .row
      .col-md-6
        .dados_perfil_esquerda
          .row
            %h1 Ajude-nos a melhorar
            .caixa_ideias
              .row
                %p Contribua com o desenvolvimento do Training Society. Manifeste aqui suas ideias, sugestões, críticas e elogios.
              .row
                .col-md-2
                  -if current_user.picture.file?
                    %a{:href => "#"}
                      =image_tag(current_user.picture.url(:small))
                  -else
                    =image_tag("user_missing_small.png")
                .col-md-10
                  = form_for [@sugestion] do |f|
                    -if f.error_messages
                      .alert.alert-danger.alert-dismissable
                        %b Erro
                        Confira os campos marcados em vermelho.
                        
                    =f.label :subject, "Ajude-nos a melhorar nosso site nos seguintes temas:"
                    %br/
                    
                    %select{name: "suggestion[subject]"}
                      %option{value: 1} Empresa que estava procurando, mas não encontrou no nosso guia.
                      %option{value: 2} Tema de treinamento que estava procurando, mas não estava relacionado na ferramenta.
                      %option{value: 3} Sugestões de temas para serem abordados por nossos colunistas.
                      %option{value: 4} Enfim, sinta-se à vontade! Sua contribuição será sempre bem vinda.
                    %br/
                    =f.text_area :description
                    =f.hidden_field :user_id, :value => current_user.id
                    
                    =f.submit "Enviar"
      .col-md-5.col-md-offset-1
        .dados_perfil_direita
          =render file: "layouts/widgets/_empresas.html.haml"

