<% content_for :head do %>
  <%= stylesheet_link_tag "perfil.css" %>
<% end %>
<div class="container">
  <div class="row ">
    <%= form_for [@empresa, @enterprise_rate], :url => "/empresas/#{@empresa.id}/rates", :method => :post do |f| %>
      <% if f.error_messages %>
        <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-ban"></i>
          <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
          <b>Alert!</b>
          Por favor, preencha todos os campos.
        </div>
      <% end %>
      <div class="box-body info_empresas">
        <h1>Avaliar esta Empresa</h1>
        <div class="form-group">
          <label>Qualidade na elaboração de conteúdo:</label>
          <br/>
          <span class="rating">
            <input class="rating-input" type="radio" value="5" name="enterprise_rate[elaboration]" id="enterprise_rate_elaboration_5">
            <label for="enterprise_rate_elaboration_5" class="rating-star"></label>
            <input class="rating-input" type="radio" value="4" name="enterprise_rate[elaboration]" id="enterprise_rate_elaboration_4">
            <label for="enterprise_rate_elaboration_4" class="rating-star"></label>
            <input class="rating-input" type="radio" value="3" name="enterprise_rate[elaboration]" id="enterprise_rate_elaboration_3">
            <label for="enterprise_rate_elaboration_3" class="rating-star"></label>
            <input class="rating-input" type="radio" value="2" name="enterprise_rate[elaboration]" id="enterprise_rate_elaboration_2">
            <label for="enterprise_rate_elaboration_2" class="rating-star"></label>
            <input class="rating-input" type="radio" value="1" name="enterprise_rate[elaboration]" id="enterprise_rate_elaboration_1">
            <label for="enterprise_rate_elaboration_1" class="rating-star"></label>
          </span>
        </div>
        <div class="form-group">
          <label>Qualidade na entrega de conteúdo:</label>
          <br/>
          <span class="rating">
            <input class="rating-input" type="radio" value="5" name="enterprise_rate[delivery]" id="enterprise_rate_delivery_5">
            <label for="enterprise_rate_delivery_5" class="rating-star"></label>
            <input class="rating-input" type="radio" value="4" name="enterprise_rate[delivery]" id="enterprise_rate_delivery_4">
            <label for="enterprise_rate_delivery_4" class="rating-star"></label>
            <input class="rating-input" type="radio" value="3" name="enterprise_rate[delivery]" id="enterprise_rate_delivery_3">
            <label for="enterprise_rate_delivery_3" class="rating-star"></label>
            <input class="rating-input" type="radio" value="2" name="enterprise_rate[delivery]" id="enterprise_rate_delivery_2">
            <label for="enterprise_rate_delivery_2" class="rating-star"></label>
            <input class="rating-input" type="radio" value="1" name="enterprise_rate[delivery]" id="enterprise_rate_delivery_1">
            <label for="enterprise_rate_delivery_1" class="rating-star"></label>
          </span>
        </div>
        <div class="form-group">
          <label>Nivel de atendimento geral:</label>
          <br/>
          <span class="rating">
            <input class="rating-input" type="radio" value="5" name="enterprise_rate[service]" id="enterprise_rate_service_5">
            <label for="enterprise_rate_service_5" class="rating-star"></label>
            <input class="rating-input" type="radio" value="4" name="enterprise_rate[service]" id="enterprise_rate_service_4">
            <label for="enterprise_rate_service_4" class="rating-star"></label>
            <input class="rating-input" type="radio" value="3" name="enterprise_rate[service]" id="enterprise_rate_service_3">
            <label for="enterprise_rate_service_3" class="rating-star"></label>
            <input class="rating-input" type="radio" value="2" name="enterprise_rate[service]" id="enterprise_rate_service_2">
            <label for="enterprise_rate_service_2" class="rating-star"></label>
            <input class="rating-input" type="radio" value="1" name="enterprise_rate[service]" id="enterprise_rate_service_1">
            <label for="enterprise_rate_service_1" class="rating-star"></label>
          </span>
        </div>
        <div class="form-group">
          <%= f.label "Comentário:" %>
          <%= f.text_area :comment, :class => "form-control", :placeholder => "Comentário" %>
        </div>
        <div class="form-group">
          <%= f.check_box :agreement %>
          Declaro ser o responsável pelos comentários e avaliações realizadas
        </div>
      </div>
      <div class="box-footer">
        <%= f.submit "Enviar", :class => "btn button-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>