.container-fluid.home-block-05
  .container
    .row
      .col-md-5
        %p Training Society 2016 - Todo diretos reservados
      .col-md-7
        %ul
          %li
            %a{:href => "/terms"} TERMOS DE USO POLÍTICA DE PRIVACIDADE TRAINING SOCIETY PARA EMPRESAS