.container-fluid.top-bar
  .container
    .row
      .col-md-11
        %a{:href => "/perfil"}
          =image_tag("logo-color.png", width: "200")

        %a.pull-right.btn-login.px-2{:href => "/logout"} Logout

        -if current_user.has_role? :columnist
          -if current_user.columnists.all.count > 0
            %a.pull-right{:href => "#{colunas_path}"}
              Meus artigos | &nbsp;


      .col-md-1.perfil-image-small

        -if current_user.picture.file?
          %a{:href => "#"}
            =image_tag(current_user.picture.url(:small))
        -else
          =image_tag("user_missing_small.png")
.container-fluid.menu
  .container
    .row
      .col-md-10
        %ul
          %li
            %a{:href => "/perfil"} INÍCIO
          %li
            %a{:href => "/empresas"} GUIA DE EMPRESAS
          %li
            %a{:href => "/blog"} BLOG
          %li
            %a{:href => "/eventos"} EVENTOS
          %li
            %a{:href => "/wiki"} WIKI
          %li
            %a{:href => "/sobre"} SOBRE
      .col-md-2.caixa
        %a{:href => "/caixa-de-ideias"}
          CAIXA DE IDÉIAS
          %i.fa.fa-lightbulb-o{"aria-hidden" => "true"}