.container-fluid.home-block-05
  .container
    .row
      .col-md-5
        %p Training Society 2016 - Todo diretos reservados
      .col-md-7
        %ul
          %li
            %a{:href => "/terms"} TERMOS DE USO POLÍTICA DE PRIVACIDADE TRAINING SOCIETY PARA EMPRESAS


-if params[:q].present?
  .modal.fade{:role => "dialog", :tabindex => "-1", :id => "modalSearch"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        /  %h4.modal-title Modal title
        .modal-body
          -if @search_artigos.present? || @search_empresas.present? || @treinamentos.present?
            %p="Encontramos #{@search_empresas.count} empresas, #{@treinamentos.count} treinamentos e #{@search_artigos.count} artigos para a palavra #{params[:q]}"
            %p
              ="Para ver os detalhes da busca,"
              %a{:href=>'/register'} cadastre-se aqui.
              ou
              %a{:href=>'/register'} faça o login
          -else
            %p Sua busca não retornou nenhum resultado.
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
      / /.modal-content
    / /.modal-dialog
  / /.modal


-content_for :footer do
  -if params[:q].present?
    :javascript
      $('#modalSearch').modal('show');