<!-- MENU -->
<div class="container top-bar">
  <div class="container">
    <div class="row pt-4 pb-1 text-center text-md-left">
      <div class="col-md-6 logo pt-1">
        <a href="<%= root_path%>">
          <img src="assets/home/logo.png" width="200">
        </a>
      </div>
      <div class="col-md-6 form-login mt-2">
        <%= form_for @user_session do |f| %>
          <div class="row p-0">
            <div class="col-sm-5">                
              <%= f.text_field :email, :placeholder => "E-mail", :class => "input-login mr-3 w-100"%>
            </div>
            <div class="col-sm-5">    
              <%= f.password_field :password, :placeholder => "Senha", :class => "input-login mr-3 w-100 mt-3 mt-sm-0"%>
              <%= link_to "Esqueci minha senha", new_password_reset_url, :class => "text-muted ml-md-3 pt-md-2"%>
            </div>
            <div class="col-sm-2 p-md-0">
              <input class="primary-btn text-white" type="submit" value="Entrar">
            </div>                    
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END MENU -->