%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel (optional)
    .user-panel
      .pull-left.image
        -if current_user.picture.file?
          =image_tag(current_user.picture.url, class: "img-circle")
        -else
          =image_tag("admin_img/avatar6.png", :class => "img-circle")
      .pull-left.info
        %p
          =t("Olá! ") + current_user.name
        / Status
        %a{:href => "#"}
          %i.fa.fa-circle.text-success
          Online
    / Sidebar Menu
    %ul.sidebar-menu
      %li.header
      / %li
      /   %a{:href => "#{admin_articles_path()}"}
      /     %i.fa.fa-pencil-square-o
      /     %span Artigos
      %li
        %a{:href => "#{admin_categories_path()}"}
          %i.fa.fa-pencil-square-o
          %span Categorias
      %li
        %a{:href => "#{admin_columnists_path()}"}
          %i.fa.fa-pencil-square-o
          %span Colunistas
      / %li.header
      / Optionally, you can add icons to the links
      / %li.treeview
      /   %a{:href => "#"}
      /     %i.fa.fa-pencil-square-o
      /     %span Artigos
      /     %span.pull-right-container
      /       %i.fa.fa-angle-left.pull-right
      /   %ul.treeview-menu
      /     %li
      /        Artigos
      /     %li
      /       %a{:href => "#{admin_categories_path()}"} Categorias
      /     %li
      /       %a{:href => "#{admin_columnists_path()}"} Colunistas
      %li
        %a{:href => "#{admin_highlights_path()}"}
          %i.fa.fa-picture-o
          %span Banners
      / %li
      /   %a{:href => "#{admin_customers_path()}"}
      /     %i.fa.fa-group
      /     %span Clientes
      %li
        %a{:href => "#{admin_organizations_path()}"}
          %i.fa.fa-calendar
          %span Eventos
      %li
        %a{:href => "#{admin_enterprises_path()}"}
          %i.fa.fa-building
          %span Empresas
      %li
        %a{:href => "#{admin_specialities_path()}"}
          %i.fa.fa-building
          %span Produtos
      %li
        %a{:href => "#{admin_enterprise_rates_path()}"}
          %i.fa.fa-building
          %span Avaliações
      %li
        %a{:href => "#{admin_wikis_path()}"}
          %i.fa.fa-building
          %span Wiki
      %li
        %a{:href => "#{admin_suggestions_path()}"}
          %i.fa.fa-building
          %span Caixa de Idéias
      %li
        %a{:href => "#{admin_users_path()}"}
          %i.fa.fa-group
          %span Usuários
      %li
        %a{:href => "/admin/users/user_report"}
          %i.fa.fa-group
          %span Relatório de Usuários

    / /.sidebar-menu
  / /.sidebar