!!!
%html
  %head
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-127720825-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127720825-1');
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Training Society

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "bootstrap-theme.min.css"
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "croppie.css"
    = yield :head
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "fullcalendar.css"
    = stylesheet_link_tag "jquery.fancybox.css"
    = stylesheet_link_tag "helpers/jquery.fancybox-thumbs.css"
    = stylesheet_link_tag "select2/select2.min.css"
    = stylesheet_link_tag "slick.css"
    = stylesheet_link_tag "slick-theme.css"
    = stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"

  %body
    %section
      =render file: "layouts/_header.html.haml"
      =render file: "layouts/_search.html.haml"
      =yield
      = render :file => "layouts/_footer.html.haml"


    = javascript_include_tag 'application'
    = javascript_include_tag 'croppie.js'
    = javascript_include_tag 'slick.min.js'
    = javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"



    =yield :footer
    :javascript
      //document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

