<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Training Society</title>
    <link rel="stylesheet" media="screen" href="/assets/home/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/home/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="/assets/home/styles.css">
    <link rel="stylesheet" media="screen" href="/assets/home/slick.css">
    <link rel="stylesheet" media="screen" href="/assets/home/slick-theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <%=render file: "layouts/_home_header.html.erb"%>
    <%=yield%>
    <script src="/assets/home/jquery-2.1.4.min.js"></script>
    <script src="/assets/home/bootstrap.min.js"></script>
    <script src="/assets/home/slick.min.js"></script>
    <script type="text/javascript">
      $('.patro').slick({
        autoplay: true,
        arrows: false,
      });

      $('.partners').slick({
        autoplay: true,
        arrows: false,
        slidesToShow: 6,
        slidesToScroll: 1,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        ]
      });
    </script>
  </body>
</html>